<link rel="import" href="../../node_modules/@npm-polymer/polymer/polymer-element.html">
<link rel="import" href="../../node_modules/@npm-polymer/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../node_modules/@npm-polymer/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">

<dom-module id="prendus-concept">
    <template>
        <redux-store id="reduxStoreElement" on-statechange="stateChange" action="[[action]]"></redux-store>

        <dom-if if="[[loaded]]">
            <template>
              <dom-if if="[[!isViewMode(mode)]]">
                  <template>
                      <input id="titleInput" type="text">

                      <button on-click="saveConcept">Save</button>
                  </template>
              </dom-if>
            </template>
        </dom-if>

        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>

    </template>

    <script src="prendus-concept.ts"></script>
</dom-module>
