<link rel="import" href="../../node_modules/@npm-polymer/polymer/polymer.html">
<link rel="import" href="../../node_modules/@npm-polymer/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../node_modules/@npm-polymer/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">

<dom-module id="prendus-learning-structure">
    <template>
        <redux-store id="reduxStoreElement" on-statechange="stateChange" action="[[action]]"></redux-store>

        <dom-if if="[[loaded]]">
            <template>
                <div>Disciplines</div>

                <dom-repeat items="[[disciplines]]">
                    <template>
                        <div>
                            <a href="discipline/[[item.id]]/view">[[item.title]]</a>
                            <a href="discipline/[[item.id]]/edit">Edit</a>
                        </div>
                    </template>
                </dom-repeat>

                <button>
                    <a href="discipline/create">Add Discipline</a>
                </button>
            </template>
        </dom-if>

        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>

    </template>

    <script src="prendus-learning-structure.ts"></script>
</dom-module>
