<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-styles/prendus-styles.html">
<link rel="import" href="../prendus-rubric-dropdowns/prendus-rubric-dropdowns.html">
<link rel="import" href="../prendus-rubric-dropdowns/prendus-rubric-dropdowns.html">
<link rel="import" href="../prendus-question-carousel/prendus-question-carousel.html">

<dom-module id="prendus-grade-assignment">

  <template>

    <style include="prendus-styles">

      #submit-button {
        float: right;
        margin-top: 20px;
      }

    </style>
    <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>

    <h2>[[assignment.title]] Grade Assignment</h2>
    <br>
    <prendus-question-carousel id="carousel" hide-back next-text="Submit" questions="[[questions]]">
      <div hidden$="[[!question]]">
        <h4>Question</h4>
        <p>[[_questionText(question.text)]]</p>
        <h4>Response</h4>
        <p>*Response*</p>
        <prendus-rubric-dropdowns rubric="[[rubric]]"></prendus-rubric-dropdowns>
      </div>
      <div hidden$="[[question]]">
        <h3>Done</h3>
        <p>You have finished all the questions for this assignment</p>
      </div>
    </prendus-question-carousel>

  </template>

  <script type="module" src="prendus-grade-assignment.ts"></script>

</dom-module>
