<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-styles/prendus-styles.html">
<link rel="import" href="../prendus-scaffold/prendus-essay-scaffold.html">
<link rel="import" href="../prendus-scaffold/prendus-multiple-choice-scaffold.html">
<link rel="import" href="../prendus-carousel/prendus-carousel.html">

<dom-module id="prendus-create-assignment">

  <template>

    <style include="prendus-styles">
      [hidden] {
        display: none;
      }
    </style>
    <redux-store id="store" action="[[action]]" on-statechange="stateChange"></redux-store>
    <h2>[[assignment.title]] Create Assignment</h2>
    <br>
    <prendus-carousel id="carousel" hide-back hide-next data="[[questions]]">
      <div hidden$="[[!question]]">
        <dom-if if="[[isEssayType(assignment.questionType)]]">
          <template>
            <prendus-essay-scaffold question="[[question]]" assignment="[[assignment]]"></prendus-essay-scaffold>
          </template>
        </dom-if>
        <dom-if if="[[isMultipleChoiceType(assignment.questionType)]]">
          <template>
            <prendus-multiple-choice-scaffold question="[[question]]" assignment="[[assignment]]"></prendus-multiple-choice-scaffold>
          </template>
        </dom-if>
      </div>
      <div hidden$="[[question]]">
        <h3>Done</h3>
        <p>You have completed this assignment</p>
      </div>
    </prendus-carousel>

  </template>

  <script type="module" src="prendus-create-assignment.ts"></script>

</dom-module>
