<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-styles/prendus-styles.html">
<link rel="import" href="../prendus-essay-scaffold/prendus-essay-scaffold.html">

<dom-module id="prendus-create-assignment">

  <template>

    <style>

    </style>
    <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
    <h2>[[assignment.title]] Create Assignment</h2>
    <prendus-essay-scaffold id="scaffold" assignment="[[assignment]]" cycle="1"></prendus-essay-scaffold>

  </template>

  <script type="module" src="prendus-create-assignment.ts"></script>

</dom-module>
