<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-view-question/prendus-view-question.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/wysiwyg-e/wysiwyg-e.html">
<link rel="import" href="../../bower_components/juicy-ace-editor/juicy-ace-editor.html">

<dom-module id="prendus-edit-question">
    <template>
        <style>
            .pages {
                margin-top: 25px;
            }

            .editor {
                width: calc(1000px - 10vw);
                height: 300px;
                box-shadow: 0px 0px 3px grey;
                margin: 0 auto;
            }

            #paperTabs {
                font-size: calc(50px - 1vw);
            }

            #textEditor {
                --wysiwyg-font: Ubuntu;
                font-size: calc(40px - 1vw);
            }

            #codeEditor {
                font-size: calc(40px - 1vw);
            }
        </style>

        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>

        <dom-if if="[[loaded]]">
            <template>
                <paper-tabs id="paperTabs" selected="[[selected]]" on-selected-changed="selectedChanged">
                    <paper-tab>Question</paper-tab>
                    <paper-tab>Answer</paper-tab>
                </paper-tabs>

                <iron-pages id="ironPages" selected="[[selected]]" class="pages">
                    <wysiwyg-e id="textEditor" class="editor" value="[[question.text]]" on-value-changed="textEditorChanged"></wysiwyg-e>
                    <juicy-ace-editor id="codeEditor" theme="ace/theme/chrome" class="editor" value="[[question.code]]" on-change="codeEditorChanged"></juicy-ace-editor>
                </iron-pages>

                <h1>Preview</h1>
                <prendus-view-question question="[[question]]"></prendus-view-question>

                <br>

                <button on-click="save">Save Question</button>
            </template>
        </dom-if>

        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>
    </template>

    <script src="prendus-edit-question.ts"></script>
</dom-module>
