<link rel="import" href="../../../../src/bower_components/polymer/polymer.html">
<link rel="import" href="../../../../src/components/prendus-course-question-ratings/prendus-course-question-ratings.html">
<link rel="import" href="../../../../src/node_modules/redux-store-element/redux-store.html">

<dom-module id="prendus-course-question-ratings-test">

  <template>
    <redux-store id="store" root-reducer="[[rootReducer]]" action="[[action]]" on-statechange="stateChange"></redux-store>
  </template>

  <script type="module" src="prendus-course-question-ratings-test.ts"></script>

</dom-module>
