<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<!-- The neon-animation import is a polyfill, even for Chrome. It's necessary to support paper-tooltip. Remove it when possible -->
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-course">
    <template>
        <redux-store id="reduxStoreElement" on-statechange="stateChange" action="[[action]]"></redux-store>
        <style include="prendus-styles">
        .edit-section {
    			display: flex;
    			align-items: center;
    		}
    		.edit-section .edit-input {
    			flex-grow: 1;
    		}
    		.edit-input {
    			min-width: 200px;
    		}
    		.edit-section .edit-button {
    			align-self: flex-start;
    			flex-shrink: 0;
    		}
        #course-title {
          --paper-input-container-input: {
            font-size: 48px;
          };
        }
        .prendus-margin{
          margin-top: 25px;
        }
        #add-course-button{
          margin-top: 15px;
          display: block;
        }
        .assignment-card{
          width: 30%;
          margin: 10px;
          --paper-card-header-text: {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          };
        }
        </style>
        <dom-if if="[[loaded]]">
            <template>
              <div class="edit-section">
                <template is="dom-if" if="[[isViewMode(mode)]]">
                  <h1>[[course.title]]</h1>
                </template>
						    <template is="dom-if" if="[[!isViewMode(mode)]]">
                  <paper-input id="course-title" class="edit-input" name="title" label="Course Title" value="[[course.title]]" maxlength="50" on-change="titleChanged" required auto-validate error-message="Please enter a title."></paper-input>
    						</template>
    					</div>
              <paper-dropdown-menu label="Discipline">
                <paper-listbox id="discipline-list" slot="dropdown-content" attr-for-selected="id" selected="[[selectedDisciplineId]]">
                  <dom-repeat items="[[learningStructure]]">
                    <template>
                        <paper-item id="[[item.id]]" data-index="[[index]]" on-click="updateCourseDiscipline">[[item.title]]</paper-item>
                    </template>
                  </dom-repeat>
                  <dom-if if="[[!customDiscipline]]">
                    <template>
                      <paper-item id="new-discipline" on-click="openCreateDisciplineDialog"><iron-icon class="prendus-icon-button" icon="add"></iron-icon>&nbsp; Add Custom &nbsp;</paper-item>
                    </template>
                  </dom-if>
                </paper-listbox>
              </paper-dropdown-menu>
              <paper-dialog id="create-discipline" with-backdrop>
                  <div class="content">
                    <h2 id ="dialog-header">Create New Discipline</h2>
                    <paper-input id="discipline-title" id="disciplineTitle" label="Discipline"></paper-input>
                  </div>
                  <div class="buttons">
                    <button class="prendus-button prendus-button--minor" dialog-dismiss>Cancel</button>
                    <button id="save-new-discipline" class="prendus-button prendus-button--recommended" on-click="createDiscipline">Save</button>
                  </div>
              </paper-dialog>

              <div id="subjects">
                <paper-dropdown-menu label="Subject">
                  <paper-listbox id="subject-list" slot="dropdown-content" attr-for-selected="id" selected="[[selectedSubjectId]]" disabled>
                    <dom-repeat items="[[subjects]]">
                      <template>
                          <paper-item id="[[item.id]]" data-index="[[index]]" on-click="updateCourseSubject">[[item.title]]</paper-item>
                      </template>
                    </dom-repeat>
                    <dom-if if="[[!customDiscipline]]">
                      <template>
                        <paper-item id="new-discipline" on-click="openCreateDisciplineDialog"><iron-icon class="prendus-icon-button" icon="add"></iron-icon>&nbsp; Add Custom &nbsp;</paper-item>
                      </template>
                    </dom-if>
                  </paper-listbox>
                </paper-dropdown-menu>
              </div>

              <paper-dialog id="create-discipline" with-backdrop>
                  <div class="content">
                    <h2 id ="dialog-header">Create New Discipline</h2>
                    <paper-input id="discipline-title" id="disciplineTitle" label="Discipline"></paper-input>
                  </div>
                  <div class="buttons">
                    <button class="prendus-button prendus-button--minor" dialog-dismiss>Cancel</button>
                    <button id="save-new-discipline" class="prendus-button prendus-button--recommended" on-click="createDiscipline">Save</button>
                  </div>
              </paper-dialog>

              <!-- <div id="subjects">
                <paper-dropdown-menu id="subject-menu" label="Subject">
                  <paper-listbox slot="dropdown-content" selected="[[selectedSubjectId]]">
                    <dom-repeat items="[[subjects]]">
                      <template>
                          <paper-item id="[[item.id]]" on-click="saveCourseSubject">[[item.title]]</paper-item>
                      </template>
                    </dom-repeat>
                    <paper-item id="new" on-click="openCreateSubjectDialog"><iron-icon class="prendus-icon-button" icon="add"></iron-icon>&nbsp; Add Subject &nbsp;</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
              </div> -->
              <paper-dialog id="create-subject" with-backdrop>
                  <div class="content">
                    <h2 id="dialog-header">Create New Subject</h2>
                    <paper-input id="subject-title" id="subjectTitle" label="Subject"></paper-input>
                  </div>
                  <div class="buttons">
                    <button class="prendus-button prendus-button--minor" dialog-dismiss>Cancel</button>
                    <button id="save-new-subject" class="prendus-button prendus-button--recommended" on-click="createSubject">Save</button>
                  </div>
              </paper-dialog>
              <h2 class="prendus-margin">Assignments</h2>
              <dom-if if="[[assignments.length]]">
                <template>
                  <dom-repeat items="[[assignments]]">
                      <template>
                        <paper-card class="assignment-card" heading="[[item.title]]">
                          <div class="card-actions">
                            <a href="assignment/[[item.id]]/edit"><iron-icon id="edit-assignment[[item.id]]" class="prendus-icon-button" icon="create"></iron-icon></a>
                            <paper-tooltip for="edit-assignment[[item.id]]" offset="0" animation-delay="300">Edit Assignment</paper-tooltip>
                            <paper-icon-button id="LTI[[item.id]]" class="prendus-icon-button" icon="link" on-click="getLTILinks"></paper-icon-button>
  			                    <paper-tooltip for="LTI[[item.id]]" offset="0" animation-delay="300">Get LTI Links</paper-tooltip>
                            <a href="assignment/[[item.id]]/view?assignmentType=CREATE"><paper-icon-button id="create[[item.id]]" class="prendus-icon-button" icon="speaker-notes"></paper-icon-button></a>
                            <paper-tooltip for="create[[item.id]]" offset="0" animation-delay="300">Launch Create Assignment</paper-tooltip>
                            <a href="assignment/[[item.id]]/view?assignmentType=REVIEW"><paper-icon-button id="review[[item.id]]" class="prendus-icon-button" icon="feedback"></paper-icon-button></a>
                            <paper-tooltip for="review[[item.id]]" offset="0" animation-delay="300">Launch Review Assignment</paper-tooltip>
                            <paper-icon-button id="delete[[item.id]]" data="[[item.id]]" class="prendus-icon-button" icon="delete" on-click="deleteAssignment"></paper-icon-button>
                            <paper-tooltip for="delete[[item.id]]" offset="0" animation-delay="300">Delete Assignment</paper-tooltip>
                          </div>
                        </paper-card>
                        <paper-dialog id="assignment-lti-links-modal[[item.id]]" with-backdrop>
                          <br>
                          <h2 id ="dialog-header">LTI links</h2>
                            <div class="content">
                              <h5 class = "lti-title">Create Questions Link</h5>
                              <paper-textarea class="lti-link" id="ltiLinkIdcreate" value="https://api.prendus.com/lti/assignment/[[item.id]]/assignment-type/CREATE"></paper-textarea>
                            </div>
                            <div class="content">
                              <h5 class = "lti-title">Review Questions Link</h5>
                              <paper-textarea class="lti-link" id="ltiLinkIdreview" value="https://api.prendus.com/lti/assignment/[[item.id]]/assignment-type/REVIEW"></paper-textarea>
                            </div>
                        </paper-dialog>
                      </template>
                  </dom-repeat>
                </template>
              </dom-if>
              <div class="prendus-margin">
                <a class="prendus-button prendus-button--recommended" href="assignment/create?courseId=[[courseId]]">Add assignment</a>
              </div>
            </template>
        </dom-if>

        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>

    </template>

    <script src="prendus-course.ts"></script>
</dom-module>
