<link rel="import" href="../../node_modules/@npm-polymer/polymer/polymer-element.html">
<link rel="import" href="../../node_modules/@npm-polymer/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../node_modules/@npm-polymer/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">

<dom-module id="prendus-course">
    <template>
        <redux-store id="reduxStoreElement" on-statechange="stateChange" action="[[action]]"></redux-store>

        <dom-if if="[[loaded]]">
            <template>
                <dom-if if="[[isViewMode(mode)]]">
                    <template>
                        <div>[[course.title]]</div>
                    </template>
                </dom-if>

                <dom-if if="[[!isViewMode(mode)]]">
                    <template>
                        <input id="titleInput" type="text" value="[[course.title]]">

                        <button on-click="saveCourse">Save</button>
                    </template>
                </dom-if>
                <br>
                <div>Assignments</div>
                  <dom-repeat items="[[assignments]]">
                      <template>
                          <div>
                              <a href="assignment/[[item.id]]/view">[[item.title]]</a>

                              <dom-if if="[[isEditMode(mode)]]">
                                  <template>
                                      <a href="assignment/[[item.id]]/edit">Edit</a>
                                  </template>
                              </dom-if>
                          </div>
                      </template>
                  </dom-repeat>

                <dom-if if="[[!isCreateMode(mode)]]">
                    <template>
                        <button>
                            <a href="assignment/create?courseId=[[courseId]]">Add assignment</a>
                        </button>
                    </template>
                </dom-if>
            </template>
        </dom-if>

        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>

    </template>

    <script src="prendus-course.ts"></script>
</dom-module>
