<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">

<dom-module id="prendus-course">
    <template>
        <redux-store on-statechange="stateChange" action="[[action]]"></redux-store>

        <dom-if if="[[isViewMode(mode)]]">
            <template>
                <div>[[course.title]]</div>
            </template>
        </dom-if>

        <dom-if if="[[isEditMode(mode)]]">
            <template>
                <input id="titleInput" type="text" value="[[course.title]]">

                <button on-click="saveCourse">Save</button>
            </template>
        </dom-if>

        <br>
        <div>Lessons:</div>
        <dom-repeat items="[[lessons]]">
            <template>
                <div>
                    <a href="lesson/[[item.id]]/view">[[item.title]]</a>
                </div>
            </template>
        </dom-repeat>

        <dom-if if="[[isEditMode(mode)]]">
            <template>
                <button>
                    <a href="lesson/create?courseId=[[courseId]]">Add lesson</a>
                </button>
            </template>
        </dom-if>
    </template>

    <script src="prendus-course.ts"></script>
</dom-module>
