<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">


<dom-module id="prendus-footer-main">
    <template>
      <style include ="prendus-styles">
        .footer-items {
          width: 100vw;
          height: auto;
          display: flex;
          justify-content: space-evenly;
          font-size: 15px;
          padding: 15px;
          color: black;
        }
        .footer-child{
          display: flex;
          height: auto;
          flex-direction: column;
          align-items: center;
        }
      </style>
      <div>
        <footer class="footer-items">
          <div>&copy; [[getYear()]]&nbsp;<span class="long-text">Prendus LLC</span></div>
          <a target="_blank" href="https://github.com/Prendus/blob/master/terms-of-use.md">Terms of Use</a>
          <a target="_blank" href="https://github.com/Prendus/blob/master/privacy-policy.md">Privacy Policy</a>
          <a href="/open-source">Open Source</a>
        </footer>
      </div>
    </template>

    <script type="module" src="prendus-footer-main.ts"></script>
</dom-module>
