<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">


<dom-module id="prendus-footer">
    <template>
      <style include ="prendus-styles">

        .footer-items {
          width: 100vw;
          height: auto;
          display: flex;
          justify-content: space-evenly;
          font-size: 15px;
          padding: 15px;
          color: black;
        }
        .footer-child{
          display: flex;
          height: auto;
          flex-direction: column;
          align-items: center;
        }
      </style>
      <div>
        <footer class="footer-items">
            <div class="footer-child">
              <h3>Prendus</h3>
              <!-- <a>Why Prendus?</a> -->
              <!-- <a href="/what">What is Prendus?</a> -->
              <!-- <a>How Prendus works</a> -->
              <div>luke@prendus.com</div>
              <div>benjaminprendus@gmail.com</div>
              <div>&copy; [[getYear()]]&nbsp;<span class="long-text">Prendus LLC</span></div>
            </div>
            <div class="footer-child">
              <h3>Use Prendus</h3>
              <a href="/content/how-it-works">How Prendus works</a>
              <a href="/assignment/demo">Try it out</a>
              <a href="/content/setup">Prendus setup</a>

            </div>
            <div class="footer-child">
              <h3>Legal</h3>
              <a target="_blank" href="https://github.com/Prendus/content/blob/master/terms-of-use.md">Terms of Use</a>
              <a target="_blank" href="https://github.com/Prendus/content/blob/master/privacy-policy.md">Privacy Policy</a>
              <a href="/open-source">Open Source</a>
              <!-- <a href="/terms-of-service">Terms&nbsp;<span id="terms-of-service" class="long-text">of Service</span></a>
              <a href="/privacy-policy">Privacy&nbsp;<span id="privacy-policy" class="long-text">Policy</span></a>
              <a href="/open-source"><span id="open-source" class="long-text">Open Source</span></a> -->
            </div>
        </footer>
      </div>
    </template>

    <script type="module" src="prendus-footer.ts"></script>
</dom-module>
