<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">


<dom-module id="prendus-notifications">
  <template>
      <style>

      .yellow-button {
      text-transform: none;
      color: #eeff41;
      }

      </style>


<paper-button raised onclick="toast1.open()">Persistent toast</paper-button>
<paper-toast id="toast1" duration="0" text="This toast will stay opened until you close it, or open another toast.">
  <paper-button onclick="toast1.toggle()" class="yellow-button">Close now!</paper-button>
</paper-toast>


</template>
    <script src="prendus-notifications.ts"></script>
</dom-module>
