<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">

<dom-module id="prendus-menu">
  <template>
    <style include="prendus-styles">
      app-drawer{
        top: 64px;
        /*Need this to be 0*/
        bottom: 0;
      }
      #prendus-menu{
        /*This is because the app-drawer has padding of 120px. Annoying. Open to other ways to get rid of the padding*/
        margin-top: -184px;
      }
      #prendus-menu  paper-item{
        cursor: pointer;
        text-transform: uppercase;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: 500;
        font-stretch: normal;
        font-size: 18px;
        line-height: normal;
        font-family: Roboto, sans-serif;
        color: gray;
        width: 100%;
      }
      #prendus-menu  paper-item:hover{
        color: var(--prendus-primary-color);
      }
      #legal-links{
        position: absolute;
        bottom: 15px;
        display: flex;
        justify-content: space-between;
      }
    </style>

    <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
    <app-drawer-layout>
      <app-drawer id="prendus-drawer" slot="drawer" align="right" fullbleed>
        <app-header id ="prendus-navbar" fixed>
          <app-toolbar id="prendus-menu" sticky>
            <dom-if if="[[user]]">
              <template>
                <span id="large-screen"><a class="prendus-button prendus-button--recommended navbar-text" on-click="logout">Log out</a></span>
              </template>
            </dom-if>
            <dom-if if="[[!user]]">
              <template>
                <a class="prendus-button prendus-button--recommended navbar-text" href="signup">Signup</a>
                <a class="prendus-button prendus-button--recommended navbar-text" href="login">Login</a>
              </template>
            </dom-if>
            <!-- <paper-icon-button icon="menu" drawer-toggle></paper-icon-button> -->
          <app-toolbar>
        </app-header>
        <paper-listbox >
          <paper-item><iron-icon icon="account-circle"></iron-icon>&nbsp; My Account</paper-item>
          <hr>
          <a href="/questions/view"><paper-item><iron-icon icon="speaker-notes"></iron-icon>&nbsp; My Questions</paper-item></a>
          <hr>
          <paper-item><iron-icon icon="editor:format-list-numbered"></iron-icon>&nbsp; My Quizzes</paper-item>
          <hr>
          <a href="/courses"><paper-item><iron-icon icon="social:school"></iron-icon>&nbsp; My Courses</paper-item></a>
          <hr>
        </paper-listbox>
        <div id="legal-links">
          <!-- &copy; [[getYear()]]&nbsp;<span class="long-text">Prendus LLC</span><br> -->&nbsp;&nbsp;&nbsp;
          <a target="_blank" href="https://github.com/Prendus/blob/master/terms-of-use.md">Terms</a>&nbsp;&nbsp;&nbsp;
          <a target="_blank" href="https://github.com/Prendus/blob/master/privacy-policy.md">Privacy Policy</a>&nbsp;&nbsp;&nbsp;
          <a href="/open-source">Licenses</a>
        </div>
      </app-drawer>
    </app-drawer-layout>
  </template>

  <script type="module" src="prendus-menu.ts"></script>
</dom-module>
