<link rel="import" href="../../../../src/bower_components/polymer/polymer.html">
<link rel="import" href="../../../../src/components/prendus-assignment/prendus-grade-assignment.html">
<link rel="import" href="../../../../src/node_modules/redux-store-element/redux-store.html">

<dom-module id="prendus-grade-assignment-test">

  <template>
    <redux-store root-reducer="[[rootReducer]]" action="[[action]]"></redux-store>
    <prendus-grade-assignment style="display: none;"></prendus-grade-assignment>
  </template>

  <script type="module" src="prendus-grade-assignment-test.ts"></script>

</dom-module>
