<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../prendus-styles.html">

<dom-module id="prendus-drop-down">

	<template>

	  <style include="prendus-styles">

			:host {
				display: inline-block;
			}

			#drop-down {
				margin-top: 5px;
			}

			#drop-down-items-container {
				min-width: 200px;
				display: flex;
				flex-direction: column;
			}

			#drop-down-items-container ::content > * {
				color: black;
				background-color: white;
				border: none;
				font-size: 1em;
				text-align: left;
				cursor: pointer;
				padding: 10px 15px;
			}

			#drop-down-items-container ::content > *:hover,
			#drop-down-items-container ::content > *:focus {
				background-color: var(--paper-grey-300);
				text-decoration: none;
				outline: none;
			}

			#menu-icon {
				display: none;
			}

			@media (max-width: 768px) {

				:host([responsive]) #button-text,
				:host([responsive]) #arrow-icon {
					display: none;
				}

				:host([responsive]) #menu-icon {
					display: block;
				}

			}


	  </style>

		<!-- MENU BUTTON -->
		<!-- NOTE: use on-up here in order to maintain menu functionality -->
		<button id="drop-down-button" class$="[[classes]]" title$="[[buttonTitle]]" on-keydown="toggleMenuWithKeyboard" on-up="toggleMenu">
			<template is="dom-if" if="[[buttonIcon]]">
			  <iron-icon id="button-icon" icon="[[buttonIcon]]"></iron-icon>
			</template>
			<span id="button-text">[[buttonText]]</span>
			<iron-icon id="arrow-icon" icon="arrow-drop-down"></iron-icon>
			<iron-icon id="menu-icon" icon="menu"></iron-icon>
		</button>
		<!-- MENU ITEMS -->
		<div id="drop-down-container" on-tap="toggleMenu">
			<iron-dropdown id="drop-down" horizontal-align="[[horizontalAlign]]" no-auto-focus allow-outside-scroll>
				<div id="drop-down-items-container" class="dropdown-content prendus-card prendus-card--no-padding">
					<content></content>
				</div>
			</iron-dropdown>
		</div>

  </template>

  <script src="prendus-drop-down.ts"></script>
</dom-module>
