<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-scaffold/prendus-scaffold-example.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="prendus-question-review-quiz.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-question-review">
    <template>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
        <style include="prendus-styles">
          .wrapper {
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 0fr);
          }

          .quality {
            grid-column: 1;
            grid-row: 1;
          }

          .difficulty {
            grid-column: 2;
            grid-row: 1;
          }

          .accuracy {
            grid-column: 3;
            grid-row: 1;
          }

          .submit-button {
            justify-self: right;
            grid-column: 4;
            grid-row: 1;
          }
        </style>
        <iron-pages id="iron-pages" selected="[[selectedIndex]]">
            <template is="dom-repeat" items="[[questionScaffoldsToRate]]">
              <div>
                <div class="prendus-card centered">
                  <h2> Rate question [[questionReviewNumber]]</h2>
                  <!--TODO fix this description -->
                </div>
                <prendus-scaffold-example question-scaffold="[[item]]"></prendus-scaffold-example>
                <div class="wrapper">
                    <div class="quality">
                      Quality <paper-slider id="quality[[item.id]]" value="[[quality]]" min="[[minSliderValue]]" max="[[maxSliderValue]]" pin></paper-slider>
                    </div>
                    <div class="difficulty">
                      Difficulty<paper-slider id="difficulty[[item.id]]" value="[[difficulty]]" min="[[minSliderValue]]" max="[[maxSliderValue]]" pin></paper-slider>
                    </div>
                    <div class="accuracy">
                      Alignment<paper-slider id="accuracy[[item.id]]" value="[[accuracy]]" min="[[minSliderValue]]" max="[[maxSliderValue]]" pin></paper-slider>
                    </div>
                    <div class="cheating">
                      Authenticity<paper-slider id="authenticity[[item.id]]" value="[[authenticity]]" min="[[minSliderValue]]" max="[[maxSliderValue]]" pin></paper-slider>
                    </div>
                </div>
                <div class="submit-button">
                    <button id="[[item.id]]" class="prendus-button prendus-button--recommended" on-click="submit">Submit</button>
                </div>
              </div>
            </template>
            <div>
              Congratulations you have finished the review of the questions. You will now take 5 questions.
              <div class="submit-button">
                  <button class="prendus-button prendus-button--recommended" on-click="submit">Submit</button>
              </div>
            </div>
            <dom-if if="[[hasQuestions(quizQuestions)]]">
              <template>
                <prendus-question-review-quiz questions="[[quizQuestions]]" user="[[user]]"></prendus-question-review-quiz>
              </template>
            </dom-if>
        </iron-pages>
        <dom-if if="[[!hasQuestions(quizQuestions)]]">
            <template>
              <p>No Questions have been made yet for this assignment</p>
            </template>
        </dom-if>
        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>
    </template>

    <script type="module" src="prendus-question-review.ts"></script>
</dom-module>
