<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-courses/prendus-courses.html">
<link rel="import" href="../prendus-course/prendus-course.html">
<link rel="import" href="../prendus-lesson/prendus-lesson.html">
<link rel="import" href="../prendus-assignment/prendus-assignment.html">
<link rel="import" href="../prendus-signup/prendus-signup.html">
<link rel="import" href="../prendus-login/prendus-login.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="prendus-app">
    <template>
        <redux-store root-reducer="[[rootReducer]]" on-statechange="stateChange" action="[[action]]"></redux-store>

        <!--TODO get rid of the two-way data binding, listen to events and integrate with Redux-->
        <!--TODO update app-location once this PR goes through: https://github.com/PolymerElements/iron-location/pull/83 -->
        <app-location id="appLocation" route="{{route}}" query-params="{{queryParams}}"></app-location>

        <app-route route="[[route]]" pattern="/" active="{{rootRouteActive}}"></app-route>

        <app-route route="[[route]]" pattern="/signup" active="{{signupRouteActive}}"></app-route>
        <app-route route="[[route]]" pattern="/login" active="{{loginRouteActive}}"></app-route>

        <app-route route="[[route]]" pattern="/course/create" data="{{createCourseRouteData}}" active="{{createCourseRouteActive}}"></app-route>
        <app-route route="[[route]]" pattern="/course/:courseId/view" data="{{viewCourseRouteData}}" active="{{viewCourseRouteActive}}"></app-route>
        <app-route route="[[route]]" pattern="/course/:courseId/edit" data="{{editCourseRouteData}}" active="{{editCourseRouteActive}}"></app-route>

        <app-route route="[[route]]" pattern="/lesson/create" data="{{createLessonRouteData}}" active="{{createLessonRouteActive}}"></app-route>
        <app-route route="[[route]]" pattern="/lesson/:lessonId/view" data="{{viewLessonRouteData}}" active="{{viewLessonRouteActive}}"></app-route>
        <app-route route="[[route]]" pattern="/lesson/:lessonId/edit" data="{{editLessonRouteData}}" active="{{editLessonRouteActive}}"></app-route>

        <app-route route="[[route]]" pattern="/assignment/create" data="{{createAssignmentRouteData}}" active="{{createAssignmentRouteActive}}"></app-route>
        <app-route route="[[route]]" pattern="/assignment/:assignmentId/view" data="{{viewAssignmentRouteData}}" active="{{viewAssignmentRouteActive}}"></app-route>
        <app-route route="[[route]]" pattern="/assignment/:assignmentId/edit" data="{{editAssignmentRouteData}}" active="{{editAssignmentRouteActive}}"></app-route>

        <a href="/">Prendus</a>

        <dom-if if="[[user]]">
            <template>
                [[user.email]]
            </template>
        </dom-if>

        <button>
            <a href="signup">Signup</a>
        </button>

        <button>
            <a href="login">Login</a>
        </button>

        <br>
        <br>

        <iron-pages attr-for-selected="show" selected="[[getSelectedView(rootRouteActive, createCourseRouteActive, viewCourseRouteActive, editCourseRouteActive, createLessonRouteActive, viewLessonRouteActive, editLessonRouteActive, createAssignmentRouteActive, viewAssignmentRouteActive, editAssignmentRouteActive, signupRouteActive, loginRouteActive)]]">
            <prendus-courses show="rootView"></prendus-courses>

            <prendus-signup show="signupView"></prendus-signup>
            <prendus-login show="loginView"></prendus-login>

            <prendus-course show="createCourseView" course-id="[[createCourseRouteData.courseId]]" mode="create"></prendus-course>
            <prendus-course show="viewCourseView" course-id="[[viewCourseRouteData.courseId]]" mode="view"></prendus-course>
            <prendus-course show="editCourseView" course-id="[[editCourseRouteData.courseId]]" mode="edit"></prendus-course>

            <prendus-lesson show="createLessonView" lesson-id="[[createLessonRouteData.lessonId]]" course-id="[[queryParams.courseId]]" mode="create"></prendus-lesson>
            <prendus-lesson show="viewLessonView" lesson-id="[[viewLessonRouteData.lessonId]]" mode="view"></prendus-lesson>
            <prendus-lesson show="editLessonView" lesson-id="[[editLessonRouteData.lessonId]]" mode="edit"></prendus-lesson>

            <prendus-assignment show="createAssignmentView" assignment-id="[[createAssignmentRouteData.lessonId]]" lesson-id="[[queryParams.lessonId]]" mode="create"></prendus-assignment>
            <prendus-assignment show="viewAssignmentView" assignment-id="[[viewAssignmentRouteData.lessonId]]" mode="view"></prendus-assignment>
            <prendus-assignment show="editAssignmentView" assignment-id="[[editAssignmentRouteData.lessonId]]" mode="edit"></prendus-assignment>
        </iron-pages>
    </template>

    <script src="prendus-app.ts"></script>
</dom-module>
