<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-courses/prendus-courses.html">
<link rel="import" href="../prendus-course/prendus-course.html">
<!-- <link rel="import" href="../prendus-lesson/prendus-lesson.html"> -->
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="prendus-app">
    <template>
        <redux-store root-reducer="[[rootReducer]]"></redux-store>

        <!--TODO get rid of the two-way data binding, listen to events and integrate with Redux-->
        <!--TODO update app-location once this PR goes through: https://github.com/PolymerElements/iron-location/pull/83 -->
        <app-location id="appLocation" route="{{route}}" query-params="{{queryParams}}"></app-location>
        <app-route route="[[route]]" pattern="/:view" data="{{routeData}}"></app-route>
        <app-route route="[[route]]" pattern="/course/:courseId/:mode" data="{{courseRouteData}}"></app-route>
        <!-- <app-route route="[[route]]" pattern="/lesson/:lessonId/:mode" data="{{lessonRouteData}}"></app-route> -->

        <iron-pages attr-for-selected="show" selected="[[routeData.view]]">
            <prendus-courses show=""></prendus-courses>
            <prendus-course show="course" course-id="[[courseRouteData.courseId]]" mode="[[courseRouteData.mode]]"></prendus-course>
            <!-- <prendus-lesson show="lesson" lesson-id="[[lessonRouteData.lessonId]]" course-id="[[queryParams.courseId]]" mode="[[lessonRouteData.mode]]"></prendus-lesson> -->
        </iron-pages>

    </template>

    <script src="prendus-app.ts"></script>
</dom-module>
