<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../node_modules/prendus-question-elements/prendus-view-question.html">
<link rel="import" href="../prendus-styles/prendus-styles.html">
<link rel="import" href="../prendus-question-carousel/prendus-question-carousel.html">

<dom-module id="prendus-take-assignment">

  <template>

    <style include="prendus-styles">
      #submit-button {
        float: right;
        margin-top: 20px;
      }
    </style>
    <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>

    <prendus-question-carousel id="carousel" next-text="Submit" hide-back questions="[[questions]]">
      <div hidden$="[[!question]]">
        <prendus-view-question question="[[_guiQuestion(question)]]"></prendus-view-question>
      </div>
      <div hidden$="[[question]]">
        <h3>Done</h3>
        <p>You have completed this assignment</p>
      </div>
    </prendus-question-carousel>

  </template>

  <script type="module" src="prendus-take-assignment.ts"></script>

</dom-module>
