<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-styles/prendus-styles.html">
<link rel="import" href="../prendus-rubric-dropdowns/prendus-rubric-dropdowns.html">
<link rel="import" href="../prendus-rubric-table/prendus-rubric-table.html">
<link rel="import" href="../prendus-question-carousel/prendus-question-carousel.html">

<dom-module id="prendus-essay-review">

  <template>

    <style include="prendus-styles">
    </style>

    <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
    <prendus-question-carousel id="carousel" questions="[[questions]]">
      <div hidden$="[[!question]]">
        <h4>Question:</h4>
        <p>[[_questionText(question.text)]]</p>
        <h4>Rubric:</h4>
        <prendus-rubric-table rubric="[[_parseRubric(question.code, 'gradingRubric')]]"></prendus-rubric-table>
        <prendus-rubric-dropdowns id="rubricDropdowns" rubric="[[rubric]]"></prendus-rubric-dropdowns>
      </div>
      <div hidden$="[[question]]">
        <h3>Done</h3>
        <p>You have reviewed all of the questions required for this assignment</p>
      </div>
    </prendus-question-carousel>

  </template>

  <script type="module" src="prendus-essay-review.ts"></script>

</dom-module>
