<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">


<dom-module id="prendus-how-it-works-page">
    <template>
      <style include ="prendus-styles">

    .page {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      flex-direction: column;
    }
    .main-paragraph
    {
      padding:20px;
      max-width: 60vw;
    }





      </style>
      <div class="page">
        <div class="main-paragraph">
          <h2>How it works</h2>
          <p>Prendus challenges students to think more deeply about what they learn in the classroom. Students are guided through writing, answering, and evaluating difficult questions for their courses, whether they’re in high school, university, or the workplace. This process demands more than answering questions; it pushes learners to focus and use precise language. A lot of learning potential is lost when students only answer multiple-choice questions, since these questions encourage students to memorize procedures but not synthesize concepts.</p>
        </div>
        <div class="main-paragraph">
          <h2>Dynamic Learning</h2>
          <p>At Prendus, we provide the opportunity for students to learn from a variety of questions, and each type has its own benefits: Writing multiple-choice questions helps students identify and avoid common mistakes. Writing computational problems with built-in variables (values that change each time a question loads) provides endless practice opportunities, even for the question writer. Writing essay questions helps students make connections and reach conclusions independently. Beyond that, writing essay rubrics helps students decide what matters most in responses.</p>
        </div>
        <div class="main-paragraph">
          <h2>Learning how to learn</h2>
          <p>Each step of the way, students receive feedback from one another and can measure their improvement.Prendus helps students engage with course material and own it; they learn how to learn. As students learn how to learn and not just get good grades, they come to love it for themselves. That’s when their world changes.</p>
        </div>
      </div>

    </template>

    <script type="module" src="prendus-how-it-works-page.ts"></script>
</dom-module>
