<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">


<dom-module id="prendus-pricing-page">
    <template>
      <style include ="prendus-styles">

    .page {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    .main-paragraph
    {
      max-width: 60vw;
    }


      </style>
      <div class="page">
        <div class="main-paragraph">
          <h1>Demos</h1>
          <p>Instructors	sign	up	for	Prendus	for	free,	with	no	strings	attached.	You	simply	create	your	account	by	going	to
            our	homepage	(Prendus.com)	and	clicking .	The	website	will	walk	you	through	the	process
            of	creating	an	account	and	setting	up	your	course.
            If	you’d	rather	save	time,	just	log	in	with	username	demo@prendus.com and	password	demopassword .
            Students	do	not	currently	have	a	way	to	demo	Prendus	software,	so	we	recommend	that	students	seeking
            demos	contact	us	or	check	the	website	frequently	for	updates.</p>

          <h1>Pricing</h1>
          <p>For	a	single	class	or	small	group	of	classes,	Prendus	costs	$10	per	student.	Students	sign	up	and	pay	when
            they	go	to	their	first	assignment.
            Bulk	discounts	are	available	for	educational	institutions	and	vary	according	to	the	number	of	students.	</p>
        </div>
      </div>

    </template>

    <script type="module" src="prendus-pricing-page.ts"></script>
</dom-module>
