<link rel="import" href="../../../../src/bower_components/polymer/polymer.html">
<link rel="import" href="../../../../src/components/prendus-rubric-dropdowns/prendus-rubric-dropdowns.html">
<link rel="import" href="../../../../src/node_modules/redux-store-element/redux-store.html">

<dom-module id="prendus-rubric-dropdowns-test">

  <template>
    <redux-store root-reducer="[[rootReducer]]" store-name="RUBRIC-DROPDOWNS" action="[[action]]"></redux-store>
  </template>

  <script type="module" src="prendus-rubric-dropdowns-test.ts"></script>

</dom-module>
