<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-styles/prendus-styles.html">

<dom-module id="prendus-error">

  <template>

    <style include="prendus-styles">
      .error {
        position: absolute;
        bottom: 30px;
        left: 30px;
        background: var(--prendus-primary-color);
        color: white;
        border-radius: 5px;
        padding: 10px;
      }
      .hide {
        display: none;
      }
    </style>
    <redux-store id="store" action="[[action]]" on-statechange="stateChange"></redux-store>
    <div id="content" class$="[[contentClass]]">
      <dom-if if="[[error]]">
        <template>
          <div class="error">
            <span>[[error.message]]</span>
            <span><button class="prendus-button prendus-button--recommended" on-click="close">X</button></span>
          </div>
        </template>
      </dom-if>
    </div>

  </template>

  <script type="module" src="prendus-error.ts"></script>

</dom-module>
