<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-login">
    <template>
      <style include="prendus-styles">
        :host {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        h2{
          padding-top: 3vh;
        }
        paper-card {
          width: 100%;
          max-width: 320px;
          padding: 5vh;
        }

        #create-account {
          padding: 16px;
        }

        #forgotPassword {
            padding: 16px;
            cursor: pointer;
            color: var(--prendus-primary-color)
        }
      </style>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>

        <dom-if if="[[loaded]]">
            <template>
              <paper-card id="login-container" heading="Log in">
                <form id="login-form" class="card-content" is="iron-form" on-keydown="loginOnEnter">
                  <paper-input id="email" name="email" label="Email" required on-change="hardValidateEmail" on-keyup="softValidateEmail" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" error-message="Please enter a valid email address."></paper-input>
                  <paper-input id="password" name="password" label="Password" type="password" on-change="hardValidatePassword" on-keyup="softValidatePassword" required auto-validate error-message="Please enter your password. 6 characters or more required"></paper-input>
                </form>
                <div class="card-actions">
                  <!-- <button class="prendus-button prendus-button--minor" on-tap="openResetPasswordDialog">Forgot password</button> -->
        					<button class="prendus-button prendus-button--recommended" disabled="[[loginDisabled]]" on-click="loginClick">Log in</button>
                </div>
                <div id="create-account">Don't have an account? <a href="/signup">Sign up</a></div>
                <div id="forgotPassword" on-click="openResetPasswordDialog">Forgot password?</div>
              </paper-card>

              <paper-dialog id="reset-password-dialog" modal opened="[[resetPasswordDialogOpen]]">
                  <h2>Reset password</h2>
        					<p>Enter your email address below.  We'll send you a link to reset your password.</p>
                  <paper-input id="reset-password-email" label="Email address" required auto-validate error-message="Please enter a valid email address." on-keydown="checkPasswordResetAndSubmitIfEnter"></paper-input>
                  <div class="buttons">
        						<button class="prendus-button prendus-button--minor" on-click="closeResetPasswordDialog">Cancel</button>
        						<button class="prendus-button prendus-button--recommended" disabled="[[submitPasswordDisabled]]" on-click="resetPassword">Submit</button>
        					</div>
              </paper-dialog>
            </template>
        </dom-if>

        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>
    </template>

    <script type="module" src="prendus-login.ts"></script>
</dom-module>
