<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-carousel">

  <template>

    <style include="prendus-styles">
      .buttons {
        margin-top: 20px;
        display: flex;
        justify-content: between;
      }
    </style>
    <redux-store id="store" action="[[action]]" on-statechange="stateChange"></redux-store>

    <div hidden$="[[finished]]">
      <h3>[[label]] [[_plusOne(index)]]/[[items.length]]</h3>
    </div>
    <br>

    <slot name="content"></slot>

    <div class="buttons">
      <button id="back-button" class="prendus-button prendus-button--recommended" hidden$="[[hideBack]]" on-click="_notifyPrevious">[[backText]]</button>
      <button id="next-button" class="prendus-button prendus-button--recommended" hidden$="[[_hideNext(hideNext, finished)]]" on-click="_notifyNext">[[nextText]]</button>
    </div>
  </template>

  <script type="module" src="prendus-carousel.ts"></script>

</dom-module>
