<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">


<dom-module id="prendus-what-is-prendus-page">
    <template>
      <style include ="prendus-styles">

    .page {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    .main-paragraph
    {
      max-width: 60vw;
    }





      </style>
      <div class="page">
        <div class="main-paragraph">
          <h2>Prendus is an online learning and assessment platform. Students write, evaluate, and work through practice questions within their class community. Their questions are visible only to class members and instructors until the end of the term, after which some questions enter a public repository, while the rest enter an instructor-only repository for use in future exams, etc. Students retain access to questions they create, while instructors retain access to those created within their class.</h2>
        </div>
      </div>

    </template>

    <script type="module" src="prendus-what-is-prendus-page.ts"></script>
</dom-module>
