<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">
<link rel="import" href="../prendus-infinite-list/prendus-infinite-list.html">
<link rel="import" href="prendus-course-question-ratings-row.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../prendus-flaggable-question/prendus-flaggable-question.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">

<dom-module id="prendus-course-question-ratings">
  <template>
    <style include="prendus-styles">
      h2 {
        margin-bottom: 20px;
      }

      #questions {
        margin-top: 10px;
      }

      #table-header {
        background: var(--prendus-primary-color);
        color: white;
        border-radius: 15px 15px 0 0;
        align-items: center;
      }

      #table-header .table-cell {
        font-size: 14px;
      }

      .sortable {
        cursor: pointer;
      }

      .sortable:hover, .sortable:focus {
        text-decoration: underline;
      }

      .question-row {
        display: grid;
        grid-auto-rows: 4vw;
        grid-template-columns: 5fr; /* 3fr;*/
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
      }

      .question-row .table-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5%;
        overflow: hidden;
      }

      .question-meta {
        justify-content: normal;
      }

      #question-modal {
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        min-width: 30%;
        min-height: 30%;
      }


    </style>
    <redux-store id="store" action="[[action]]" on-statechange="stateChange"></redux-store>

    <div>

      <h2 id="question-rating-table-header">Questions: [[course.title]]</h2>

      <!-- Using template with is because <dom-repeat> does not work in <select> tags -->
      <!-- Assignment Filter -->
      <label for="assignmentId">Assignment</label>
      <select id="assignmentId" on-change="_assignmentIdChanged">
        <option value="ALL">All</option>
        <!-- TODO For some reason the <dom-repeat> element does not play nice inside select boxes -->
        <template is="dom-repeat" items="[[course.assignments]]">
          <option value="[[item.id]]">[[item.title]]</option>
        </template>
      </select>

      <!-- Concept Filter -->
      <label for="conceptId">Concept</label>
      <select id="conceptId" on-change="_conceptIdChanged">
        <option value="ALL">All</option>
          <template is="dom-repeat" items="[[course.subject.concepts]]">
            <option value="[[item.id]]">[[item.title]]</option>
          </template>
      </select>

      <!-- Table -->
      <div id="questions" role="grid" aria-readonly="true" aria-labelledby="question-rating-table-header">

        <!-- Table Header -->
        <div id="table-header" class="question-row" role="row">
          <div class="table-cell column-header question-meta" scope="col" role="columnheader" aria-sort="none">Question</div>
          <div class="table-cell column-header" scope="col" role="columnheader" aria-sort="none">Student</div>
          <dom-repeat items="[[categories]]">
            <template>
              <div
                class="column-header table-cell"
                scope="col"
                role="columnheader"
                aria-sort$="[[_ariaSort(item, sortField, sortAsc)]]">
                  <span
                    class="sortable"
                    on-click="_toggleSort"
                    role="button"
                    on-keydown="_checkToggleSort"
                    tabindex="0">
                      [[item]]
                  </span>
              </div>
            </template>
          </dom-repeat>
        </div>

        <!-- Table Body -->
        <prendus-infinite-list next="[[fetchQuestions]]" on-items-loaded="_tableLoaded">
          <template>
            <prendus-course-question-ratings-row categories="[[categories]]" question="[[item]]" on-view-question="_viewQuestion"></prendus-course-question-ratings-row>
          </template>
        </prendus-infinite-list>

      </div>
    </div>

    <paper-dialog id="question-modal" modal>
      <paper-dialog-scrollable>
        <prendus-flaggable-question question="[[question]]" on-question-flagged="_closeQuestion"></prendus-flaggable-question>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button class="prendus-button prendus-button--minor" dialog-dismiss>Close</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script type="module" src="prendus-course-question-ratings.ts"></script>
</dom-module>
