<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">
<link rel="import" href="../prendus-stacked-bar/prendus-stacked-bar.html">

<dom-module id="prendus-course-question-ratings">

  <template>

    <style include="prendus-styles">
      h2 {
        margin-bottom: 20px;
      }

      #questions {
        margin-top: 10px;
        border-bottom: 1px solid;
      }

      #table-header {
        height: 40px;
        background: var(--prendus-primary-color);
        color: white;
        padding: 10px;
        border-radius: 15px 15px 0 0;
        border: none;
        align-items: start;
      }

      #table-header .table-cell {
        border: none;
        font-size: 14px;
      }

      .column-header {
        cursor: pointer;
      }

      .column-header:hover {
        text-decoration: underline;
      }

      .question-row {
        display: grid;
        grid-auto-rows: 4vw;
        grid-template-columns: 5fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        border-left: 1px solid;
      }

      .question-row .table-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5%;
        border-right: 1px solid;
        border-bottom: 1px solid;
      }

      .question-text {
        justify-content: normal !important;
      }

      [hidden] {
        display: none;
      }

    </style>
    <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
    <div>
      <h2>Questions: [[course.title]]</h2>
      <label for="assignmentId">Assignment</label>
      <select id="assignmentId" on-change="_assignmentIdChanged">
        <option value="ALL">All</option>
        <!-- TODO For some reason the <dom-repeat> element does not play nice inside select boxes -->
        <template is="dom-repeat" items="[[course.assignments]]">
          <option value="[[item.id]]">[[item.title]]</option>
        </template>
      </select>
      <label for="conceptId">Concept</label>
      <select id="conceptId" on-change="_conceptIdChanged">
        <option value="ALL">All</option>
          <template is="dom-repeat" items="[[_concepts(course.assignments)]]">
            <option value="[[item.id]]">[[item.title]]</option>
          </template>
      </select>
      <div id="questions">
        <div id="table-header" class="question-row">
          <div class="table-cell question-text">Question</div>
          <dom-repeat items="[[categories]]" hidden>
            <template>
              <div class="column-header table-cell" on-click="_toggleSort">[[item]]</div>
            </template>
          </dom-repeat>
          <div class="table-cell column-header" on-click="_toggleSort">Overall</div>
        </div>
        <dom-repeat items="[[questionStats]]" filter="[[_makeFilter(assignmentId, conceptId)]]" sort="[[_makeSorter(sortField, sortAsc)]]" hidden>
          <template>
            <div class="question-row">
              <div class="table-cell question-text">[[_questionOnly(item.text)]]</div>
              <dom-repeat items="[[categories]]" as="category" hidden>
                <template>
                  <div class="table-cell"><prendus-stacked-bar label="ratings" data="[[_barStats(item.ratings, category)]]"></prendus-stacked-bar></div>
                </template>
              </dom-repeat>
              <div class="table-cell">[[item.stats.Overall]]</div>
            </div>
          </template>
        </dom-repeat>
      </div>
    </div>

  </template>

  <script src="prendus-course-question-ratings.ts"></script>
</dom-module>
