<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-404">

  <template>

    <style include="prendus-styles">
      .wrapper {
        background: var(--prendus-primary-color);
        color: white;
        padding: 20px;
        border-radius: 15px;
        min-height: 200px;
        min-width: 300px;
      }
    </style>

    <div class="wrapper">
    <h1>404 Not Found</h1>
    <hr>
    <p>Oops, something went wrong. We could not find the page specified by this URL</p>
    </div>

  </template>

  <script type="module" src="./prendus-404.ts"></script>

</dom-module>
