<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-scaffold-comments">
    <template>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>

        <style include="prendus-styles">
        .wrapper {
          display: flex;
          flex-direction: column;
        }

        .row {
          display: flex;
          margin-top: 10px;
          justify-content: space-between;
        }

        .left-column {
          width: 45%;
        }

        .answers-comments-header {
          padding: 15px;
          margin-bottom: 0px;
        }

        .right-column {
          width: 45%;
        }
        .answer-card {
          margin-right: 10px;
        }
        .question {
          margin-top: 20px;
        }
        </style>
        <div class="wrapper">
          <div class="row">
            <div class="left-column item-header">
              <h3>Question</h3>
            </div>
            <div class="right-column item-header">
              <h3>Question Hint</h3>
            </div>
          </div>
          <div class="row">
            <div class="prendus-card left-column">
              [[question]]
            </div>
            <div class="prendus-card right-column">
              <!-- Implement this when Jordan returns  -->
              <paper-textarea id="questionHint" label="Question hint text (optional)"></paper-textarea>
            </div>
          </div>
          <div class="row">
            <div class="left-column answers-comments-header">
              <h3>Answers</h3>
            </div>
            <div class="right-column answers-comments-header">
              <h3>Answer Comments</h3>
            </div>
          </div>

          <template is="dom-repeat" items="[[answers]]">
            <div class="row">
              <div class="prendus-card left-column answer-card">
                [[item.text]]
              </div>
              <div class="prendus-card right-column">
                <paper-textarea always-float-label id="comments[[index]]" label="Hint [[plusOne(index)]]" value="[[item.comment]]" on-value-changed="_commentsChanged"></paper-textarea>
              </div>
            </div>
          </template>
        </div>

    </template>

    <script type="module" src="prendus-scaffold-comments.ts"></script>
</dom-module>
