<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-scaffold-example">
    <template>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
        <style include="prendus-styles">
        .wrapper {
          display: flex;
          flex-direction: column;
        }

        .row {
          display: flex;
          margin-top: 10px;
          justify-content: space-between;
        }

        .left-column {
          width: 45%;
          margin-right: 10px;
        }
        .item-header {
          padding: 15px;
          margin-bottom: 0px;
        }

        .right-column {
          width: 45%;
        }
        .prendus-card {
          border-radius: 2px;
          padding: 15px;
          background-color: white;

          /* material design shadows */
          @apply(--shadow-elevation-2dp);
        }
        </style>
        <div class="wrapper">
          <div class="row">
            <div class="left-column item-header">
              <h3>Concept</h3>
            </div>
            <div class="right-column item-header">
              <h3>Resource</h3>
            </div>
          </div>
          <div class="row">
            <dom-if if="[[questionScaffold.concept.title]]">
              <template>
                <div class="prendus-card left-column">
                  [[questionScaffold.concept.title]]
                </div>
              </template>
            </dom-if>
            <dom-if if="[[!questionScaffold.concept.title]]">
              <template>
                <div class="prendus-card left-column">
                  [[questionScaffold.concept]]
                </div>
              </template>
            </dom-if>
            <div class="prendus-card right-column">
              [[questionScaffold.resource]]
            </div>
          </div>
          <div class="row">
            <div class="left-column item-header">
              <h3>Question</h3>
            </div>
            <div class="right-column item-header">
              <h3>Solution</h3>
            </div>
          </div>
          <div class="row">
            <div class="prendus-card left-column">
              [[questionScaffold.question]]
            </div>
            <div class="prendus-card right-column">
              [[questionScaffold.explanation]]
            </div>
          </div>

          <div class="row">
            <div class="left-column item-header">
              <h3>Answers</h3>
            </div>
            <div class="right-column item-header">
              <h3>Comments</h3>
            </div>
          </div>

          <template is="dom-repeat" items="[[questionScaffold.answers]]">
            <div class="row">
              <div class="prendus-card left-column">
                [[item.text]]
              </div>
              <div class="prendus-card right-column">
                [[item.comment]]
              </div>
            </div>

          </template>
        </div>
    </template>

    <script type="module" src="prendus-scaffold-example.ts"></script>
</dom-module>
