<link rel="import" href="../../node_modules/@npm-polymer/polymer/polymer.html">
<link rel="import" href="../../node_modules/@npm-polymer/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../node_modules/@npm-polymer/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="prendus-scaffold-example.html">

<dom-module id="prendus-scaffold-final-question">
    <template>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>

        <prendus-scaffold-example question-scaffold="[[questionScaffold]]"></prendus-scaffold-example>
    </template>

    <script src="prendus-scaffold-final-question.ts"></script>
</dom-module>
