<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="prendus-scaffold-concept">
    <template>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>

        <dom-if if="[[loaded]]">
            <template>
              <div id ="concepts">
                <dom-if if="[[assignment.concepts.length]]">
                  <template>
                    <paper-dropdown-menu label="Question Concept">
                      <paper-listbox slot="dropdown-content" selected="[[selectedConcept]]">
                        <dom-repeat items="[[assignment.concepts]]">
                          <template>
                              <paper-item on-click="saveConcept">[[item.title]]</paper-item>
                          </template>
                        </dom-repeat>
                      </paper-listbox>
                    </paper-dropdown-menu>
                  </template>
                </dom-if>
                <dom-if if="[[!assignment.concepts.length]]">
                  <template>
                    <paper-input id="concept-input" label="Question Concept" value="[[concept.title]]" on-change="createConcept"></paper-input>
                    <!-- <paper-dropdown-menu label="Concept">
                      <paper-listbox slot="dropdown-content" selected="1">
                        <dom-repeat items="[[concepts]]">
                          <template>
                              <paper-item id="[[index]]" on-click="saveConcept">[[item.title]]</paper-item>
                          </template>
                        </dom-repeat>
                      </paper-listbox>
                    </paper-dropdown-menu> -->
                  </template>
                </dom-if>
              </div>
            </template>
        </dom-if>

        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>

    </template>

    <script type="module" src="prendus-scaffold-concept.ts"></script>
</dom-module>
