<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-scaffold-explanation">
    <template>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
        <style include="prendus-styles">
            .wrapper {
              display: flex;
              flex-direction: column;
            }

            .row {
              display: flex;
              margin-top: 10px;
              justify-content: space-between;
            }

            .left-column {
              width: 45%;
              margin-right: 10px;
            }

            .right-column {
              width: 45%;
            }

            .answers-comments-header {
              padding: 15px;
              margin-bottom: 0px;
            }
            </style>

            <div class="wrapper">
              <div class="row">
                <div class="prendus-card left-column">
                  <h3>Question</h3>
                  [[currentQuestionScaffold.question]]
                </div>
                <div class="prendus-card right-column">
                  <h3>Explanation</h3>
                  <paper-textarea id="explanation" label="Explanation" value="[[explanation]]" on-input="enableNext"></paper-textarea>
                </div>
              </div>

              <div class="row">
                <div class="left-column answers-comments-header">
                  <h3>Answers</h3>
                </div>
                <div class="right-column answers-comments-header">
                  <h3>Comments</h3>
                </div>
              </div>

              <template is="dom-repeat" items="[[answers]]">
                <div class="row">
                  <div class="prendus-card left-column">
                    [[item.text]]
                  </div>
                  <div class="prendus-card right-column">
                    [[item.comment]]
                  </div>
                </div>

              </template>
            </div>

    </template>

    <script src="prendus-scaffold-explanation.ts"></script>
</dom-module>
