<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="prendus-scaffold-concept">
    <template>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>

        <dom-if if="[[loaded]]">
            <template>
              <div id ="concepts">
                <paper-dropdown-menu label="Concept">
                  <paper-listbox slot="dropdown-content" selected="1">
                    <dom-repeat items="[[concepts]]">
                      <template>
                          <paper-item id="[[index]]" on-click="saveConcept">[[item.title]]</paper-item>
                      </template>
                    </dom-repeat>
                  </paper-listbox>
                </paper-dropdown-menu>
              </div>
            </template>
        </dom-if>

        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>

    </template>

    <script src="prendus-scaffold-concept.ts"></script>
</dom-module>
