<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">

<dom-module id="prendus-scaffold-resource">
    <template>
      <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
      <div>
        <paper-input id="resourceInput" on-input="enableNext" type="text" label="Resource (Textbook page 100)"></paper-input>
      </div>
    </template>

    <script type="module" src="prendus-scaffold-resource.ts"></script>
</dom-module>
