<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-notification">
    <template>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
        <style include="prendus-styles">
          :host{
            display: block;
          }
        </style>
        <paper-toast id="termsToast" duration="10000" style="margin-top: 50px; margin-left: 50px; z-index: 1000" vertical-align="top" on-click="_termsClick"></paper-toast>
        <paper-toast id="toast" text="Hello! THIS IS A REALLY BIG TOAST" duration="10000" style="z-index: 2000;" ></paper-toast>
    </template>

    <script type="module" src="prendus-notification.ts"></script>
</dom-module>
