<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/prendus-question-elements/dist/prendus-edit-question.html">

<dom-module id="prendus-question-examples">
    <template>
        <h1>Simple Variables</h1>
        <prendus-edit-question question-id="cj4zy8vcaf6xr0137nq4sukq1" no-save></prendus-edit-question>

        <h1>Variable min and max</h1>
        <prendus-edit-question question-id="cj4zymxq2fggm0137g7vrhczm" no-save></prendus-edit-question>

        <h1>Variable precision (significant figures)</h1>
        <prendus-edit-question question-id="cj4zyngnifggp01211daoz4n3" no-save></prendus-edit-question>

        <h1>Multiple choice (radio buttons)</h1>
        <prendus-edit-question question-id="cj4zyns4ffgx70121r8rnjnpf" no-save></prendus-edit-question>

        <h1>Multiple choice (checkboxes)</h1>
        <prendus-edit-question question-id="cj4zyoz4sfhxv0121dsqnbj8s" no-save></prendus-edit-question>

        <h1>Simple range</h1>
        <prendus-edit-question question-id="cj4zypb4ofifd012195rz8l0z" no-save></prendus-edit-question>

        <h1>Matrices</h1>
        <prendus-edit-question question-id="cj4zypknpfip8012126vowjiu" no-save></prendus-edit-question>

        <h1>Programming</h1>
        <prendus-edit-question question-id="cj4zypvegfj2n01210e8iphmg" no-save></prendus-edit-question>

        <h1>Essay</h1>
        <prendus-edit-question question-id="cj4zyq5qbfjhs0121ced4hecl" no-save></prendus-edit-question>
    </template>

    <script src="prendus-question-examples.ts"></script>
</dom-module>
