<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">

<dom-module id="prendus-authenticate">
    <template>
        <redux-store action="[[action]]"></redux-store>

        <br>
        You must <a href="signup[[getTail(redirectUrl, linkLtiAccount)]]">sign up</a> or <a href="login[[getTail(redirectUrl, linkLtiAccount)]]">log in</a> to continue.
    </template>

    <script src="prendus-authenticate.ts"></script>
</dom-module>
