<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">

<dom-module id="prendus-authenticate">
    <template>
        <redux-store id="reduxStoreElement" action="[[action]]"></redux-store>

        <br>
        You must <a href="signup[[getTail()]]">sign up</a> or <a href="login[[getTail()]]">log in</a> to continue.
    </template>

    <script type="module" src="prendus-authenticate.ts"></script>
</dom-module>
