<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-styles/prendus-styles.html">

<dom-module id="prendus-rubric-table">

  <template>

    <style include="prendus-styles">
      .grid {
        display: grid;
        grid-auto-rows: 2fr;
      }
      #rubricTable {
        margin: 20px 0 20px 0;
        grid-template-rows: 1fr;
        /*grid-row-gap: 10px;*/
      }
      .grid-row {
        display: grid;
        grid-auto-flow: column;
        border-left: 1px solid grey;
      }
      .grid-header {
        grid-template-columns: 2fr 1fr 3fr 1fr;
        background: var(--prendus-primary-color)
      }
      .grid-outer-row {
        grid-template-columns: 2fr 5fr;
      }
      .grid-inner-row {
        border-left: none;
        grid-template-columns: 1fr 3.2fr .8fr;
      }
      .grid-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
      }
      .col-header {
        border: none;
        color: white;
      }
      .grid-cell input, .grid-cell textarea {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 14px;
        border: none;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
      }
      .grid-cell button {
        border: none;
        background: none;
        font-size: large;
        opacity: .7;
        cursor: pointer;
      }
      .grid-cell button:hover {
        opacity: .3;
      }
    </style>
    <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>

    <div id="rubricTable" class="grid" role="grid">
      <div class="grid-row grid-header">
        <div class="grid-cell col-header">Category</div>
        <div class="grid-cell col-header">Scale</div>
        <div class="grid-cell col-header">Description</div>
        <div class="grid-cell col-header">Points</div>
      </div>

      <dom-if if="[[editable]]" hidden>
        <template>
          <dom-repeat items="{{rubric}}" as="category" hidden>
            <template>
              <div class="grid-row grid-outer-row">
                <div class="grid-cell"><input type="text" placeholder="Category..." value="{{category.name::change}}"></div>
                <div class="grid">
                  <dom-repeat items="{{category.options}}" as="option" hidden>
                    <template>
                      <div class="grid-row grid-inner-row">
                        <div class="grid-cell"><input type="text" placeholder="Scale..." value="{{option.name::change}}"></div>
                        <div class="grid-cell"><input type="text" placeholder="Description..." value="{{option.description::change}}"></div>
                        <div class="grid-cell"><input type="number" placeholder="Points..." value="{{option.points::change}}"></div>
                      </div>
                    </template>
                  </dom-repeat>
                  <div class="grid-row grid-inner-row">
                    <div class="grid-cell">
                      <button on-click="addScale"><iron-icon icon="add"></iron-icon></button>
                      <button on-click="removeScale"><iron-icon icon="remove"></iron-icon></button>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </dom-repeat>
          <div class="grid-row grid-outer-row">
            <div class="grid-cell">
              <button on-click="addCategory"><iron-icon icon="add"></iron-icon></button>
              <button on-click="removeCategory"><iron-icon icon="remove"></iron-icon></button>
            </div>
          </div>
        </template>
      </dom-if>

      <dom-if if="[[!editable]]" hidden>
        <template>
          <dom-repeat items="[[rubric]]" as="category" hidden>
            <template>
              <div class="grid-row grid-outer-row">
                <div class="grid-cell">[[category.name]]</div>
                <div class="grid">
                  <dom-repeat items="[[category.options]]" as="option" hidden>
                    <template>
                      <div class="grid-row grid-inner-row">
                        <div class="grid-cell">[[option.name]]</div>
                        <div class="grid-cell">[[option.description]]</div>
                        <div class="grid-cell">[[option.points]]</div>
                      </div>
                    </template>
                  </dom-repeat>
                </div>
              </div>
            </template>
          </dom-repeat>
        </template>
      </dom-if>

    </div>
  </template>

  <script type="module" src="prendus-rubric-table.ts"></script>

</dom-module>
