<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<!-- <link rel="import" href="../../bower_components/iron-list/iron-list.html"> -->
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../node_modules/prendus-question-elements/prendus-view-question.html">
<link rel="import" href="../prendus-question/prendus-question-viewer-wrapper.html">
<link rel="import" href="../prendus-ui/prendus-no-content-card.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">
<link rel="import" href="../../node_modules/prendus-question-elements/prendus-view-question.html">


<dom-module id="prendus-quiz-edit">
    <template>
      <style include="prendus-styles">
        paper-fab{
          --paper-fab-background: var(--prendus-primary-color);
          position: fixed;
          bottom: 30px;
          right: 300px;
        }
        #createQuizContainer{
          display: flex;
          flex-direction: row;
          margin-left: 2vw;
        }
        .questionColumn{
          display: flex;
          flex-direction: column;
          /*margin-left: 5vw;*/
        }
        .prendus-question{
          margin: 2vw;
        }
        #questionsToAddToQuiz{
          overflow: auto;
          max-height: 80vh;
        }
        #quizQuestions{
          overflow: auto;
          max-height: 80vh;
        }
        .quizTitle{
          display: flex;
          justify-content: flex-start;
          margin-left: 4vw;
          align-items: center;
          margin-bottom: 2vh;
        }
        #quizInput{
          --paper-input-container-input: {
            /*We want this to look like an H1. Figure out overflow and other styles*/
            font-size: 48px;
          };
        }
        .saveTitle{
          height: 48px;
          width: 48px;
          --iron-icon-height: 60px;
          --iron-icon-width: 48px;
        }
        .questionHeader{
          margin-left: 2vw;
        }
        .titleActions{
          margin-left: 5vw;
        }
      </style>
      <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
      <!-- Eventually just wrap the quiz-edit component in this component that will except an empty state and has a save button  -->
      <dom-if if="[[loaded]]">
          <template>
            <div class="quizTitle">
              <h1 hidden$="[[editTitle]]">[[quizTitle]]</h1>
              <div class="titleActions" hidden$="[[editTitle]]">
                <button class="prendus-button" on-click="startEditingQuizTitle"><iron-icon icon="create"></iron-icon>&nbsp; Edit Title</button>
                <a href="/quiz/create" class="prendus-button"><iron-icon icon="add"></iron-icon>&nbsp; New Quiz</a>
              </div>
            </div>
            <div class="quizTitle">
              <paper-input id="quizInput" label="Quiz Title" value="[[quizTitle]]" hidden$="[[!editTitle]]"></paper-input>
              <div class="titleActions" hidden$="[[!editTitle]]">
                <button class="prendus-button" on-click="saveQuizTitle" ><iron-icon class="saveTitle" icon="check"></iron-icon>&nbsp;Done</button>
                <button class="prendus-button prendus-button--minor" on-click="stopEditingQuizTitle">Cancel</button>
              </div>
            </div>
            <div id="createQuizContainer">
              <div id="questionsToAddToQuiz" class="questionColumn">
                <h2 class="questionHeader">My Questions</h2>
                <dom-repeat items="[[userQuestions]]">
                  <template>
                    <prendus-question-viewer-wrapper class="prendus-question" question="[[item]]" on-added="addToQuiz" add edit delete></prendus-question-viewer-wrapper>
                    <!-- <prendus-view-question class="prendus-question" question="[[item]]" on-question-response="_handleResponse"></prendus-view-question> -->
                  </template>
                </dom-repeat>
              </div>
              <div id="quizQuestions" class="questionColumn">
                <h2 class="questionHeader">Quiz Questions</h2>
                <paper-card>
                </paper-card>
                <dom-repeat items="[[quizQuestions]]">
                  <template>
                    <prendus-question-viewer-wrapper class="prendus-question" question="[[item]]" on-deleted="removeFromQuiz" edit delete></prendus-question-viewer-wrapper>
                    <!-- <prendus-view-question class="prendus-question" question="[[item]]" on-question-response="_handleResponse"></prendus-view-question> -->
                  </template>
                </dom-repeat>
              </div>
            </div>
            <paper-fab icon="save" on-click="saveQuiz"></paper-fab>
          </template>
      </dom-if>

      <dom-if if="[[!loaded]]">
          <template>
              Loading...
          </template>
      </dom-if>
    </template>

    <script type="module" src="prendus-quiz-edit.ts"></script>
</dom-module>
