<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../../bower_components/paper-autocomplete/paper-autocomplete-suggestions.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html" >
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html" >
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">
<link rel="import" href="../prendus-search/prendus-search.html">
<link rel="import" href="../prendus-institutions/prendus-create-institution.html">


<dom-module id="prendus-user-account">
    <template>
        <style include="prendus-styles">
        :host {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        #sign-up-container {
          width: 100%;
          max-width: 400px;
          padding: 3vh;
        }
        .giveMeSomeSpace{
          margin-top: 5vh;
        }
        #addInstitution{
          color: blue;
          cursor: pointer;
        }
        #create-institution-modal{
          width: 33%;
          min-width: 300px;
        }
        paper-autocomplete-suggestions{
          --suggestions-item
        }
        </style>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
        <dom-if if="[[loaded]]">
          <template>
            <paper-card id="sign-up-container">
              <h1>Profile</h1>
              <form on-keydown="createUserOnEnter">
                <paper-input id="email" name="email" label="Email" required on-focusout="hardValidateEmail" on-keyup="validateEmail" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" error-message="Please enter a valid email address." value="[[user.email]]"></paper-input>
                <paper-input id="password" name="password" label="Password" type="password" required  minlength="6" on-focusout="hardValidatePassword" on-keyup="validatePassword" error-message="Please enter a password with at least 6 characters."></paper-input>
                <paper-input id="confirm-password" name="confirm-password" label="Confirm Password" type="password" required minlength="6" on-focusout="hardValidateConfirmedPassword" on-keyup="validateConfirmedPassword" error-message="Passwords do not match."></paper-input>
                <!-- <paper-autocomplete id="institution" name="institution" label="Institution" on-keydown="findInstitution" value="[[institution.name]]" no-label-float source="[[institutions]]"></paper-autocomplete> -->
                <!-- If the above autocomplete doesn't work, use this. -->
                <dom-if if="[[user.institution]]">
                  <template>
                    <paper-input id="user-institution" name="userInstitution" label="Institution" value="[[user.institution]]"></paper-input>
                  </template>
                </dom-if>
                <dom-if if="[[!user.institution]]">
                  <template>
                    <div class="autocomplete-wrapper">
                      <paper-input id="institution" name="institution" label="Institution" on-keydown="findInstitution" value="[[institution.name]]"></paper-input>
                      <paper-autocomplete-suggestions for="institution" source="[[institutions]]" on-autocomplete-selected="institutionAutoSelected"></paper-autocomplete-suggestions>
                    </div>
                    <prendus-search search-index="Institutions" search-parameter="[[institutionPartialName]]" attributes-to-retrieve="[[attributesToRetrieve]]" on-result="loadInstitutions"></prendus-search>
                    <!-- <span>Don't see your institution? <span id="addInstitution" on-click="openCreateInstitutionModal">Add your Institution</span> -->
                  </template>
                </dom-if>
              </form>
              <!-- Add this back when we're ready to let people update their profiles -->
              <!-- <div>
                <button class="giveMeSomeSpace prendus-button prendus-button--recommended" disabled="[[!updateProfileButtonEnabled]]" on-click="updateProfileClick">Update Profile</button>
              </div> -->
            </paper-card>
            <paper-dialog id="create-institution-modal" modal opened="[[createInstitutionModalOpen]]">
              <!-- Wrapped in a div solely for stylistic issues -->
              <div>
                <prendus-create-institution on-institution-created="setInstitution" on-cancel-dialog="closeCreateInstitutionModal"></prendus-create-institution>
              </div>
            </paper-dialog>
          </template>
        </dom-if>

        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>
    </template>

    <script type="module" src="prendus-user-account.ts"></script>
</dom-module>
