<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-search">
    <template>
        <style include="prendus-styles">
        :host {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        #sign-up-container {
          width: 100%;
          max-width: 400px;
          padding: 3vh;
        }

        .giveMeSomeSpace{
          margin-top: 5vh;
        }
        </style>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
        <dom-repeat items="[[searchResults]]">
          <template>
            <paper-item id="[[item]]" on-click="raiseEvent">[[item]]</paper-item>
          </template>
        </dom-repeat>
    </template>

    <script type="module" src="prendus-search.ts"></script>
</dom-module>
