<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html" >
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html" >
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-signup">
    <template>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
        <style include="prendus-styles">
        :host {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        paper-card {
          width: 100%;
          max-width: 320px;
          padding: 15px;
        }

        #email-confirmation-dialog {
          width: 33%;
          min-width: 300px;
        }
        </style>
        <dom-if if="[[loaded]]">
          <paper-card id="sign-up-container" heading="Sign Up">
            <paper-input id="email" name="email" label="Email" value="{{email}}" required on-change="hardValidateEmail" on-keyup="softValidateEmail" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" error-message="Please enter a valid email address."></paper-input>
            <paper-input id="password" name="password" label="Password" type="password" value="{{password}}" required  minlength="6" on-change="hardValidatePassword" on-keyup="softValidatePassword" error-message="Please enter a password with at least 6 characters."></paper-input>
            <paper-input id="confirm-password" name="confirm-password" label="Confirm Password" type="password" value="{{confirmPassword}}" required minlength="6" on-change="hardValidateConfirmPassword" on-keyup="softValidateConfirmPassword" error-message="Passwords do not match."></paper-input>
              <div>By clicking the Signup button below, I agree to the <a href="https://github.com/Prendus/content/blob/master/terms-of-use.md" target="_blank">Terms of Use</a> and the <a href="https://github.com/Prendus/content/blob/master/privacy-policy.md" target="_blank">Privacy Policy</a></div>
          <div class="card-actions">
            <button class="prendus-button prendus-button--recommended" disabled$="[[!enableSignup(userType, email, password, confirmPassword)]]" on-click="signupClick">Submit</button>
          </div>
          </paper-card>
        </dom-if>

        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>
    </template>

    <script type="module" src="prendus-signup.ts"></script>
</dom-module>
