<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">

<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-signup">
    <template>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
        <style include="prendus-styles">
        :host {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        paper-card {
          width: 100%;
          max-width: 320px;
        }

        #email-confirmation-dialog {
          width: 33%;
          min-width: 300px;
        }
        </style>
        <dom-if if="[[loaded]]">
          <paper-card id="sign-up-container" heading="Sign Up">
          <!-- <form  id="sign-up-form" is="iron-form" class="card-content" method="get" action="/createclass" on-keydown="createUserOnEnter"> -->
            <!-- <p>I am a...</p>
            <paper-radio-group id="user-type" selected="{{userType}}" required>
              keep the name attributes as is - they will be passed into Firebase
              <paper-radio-button name="student">Student</paper-radio-button>
              <paper-radio-button name="unverifiedTeacher">Teacher</paper-radio-button>
            </paper-radio-group> -->
            <!-- <p hidden$="[[!showTeacherNote(userType)]]"><sup>Note: you will need to verify your teacher status.</sup></p> -->
            <paper-input id="email" name="email" label="Email" value="{{email}}" required on-change="hardValidateEmail" on-keyup="softValidateEmail" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" error-message="Please enter a valid email address."></paper-input>
            <paper-input id="password" name="password" label="Password" type="password" value="{{password}}" required  minlength="6" on-change="hardValidatePassword" on-keyup="softValidatePassword" error-message="Please enter a password with at least 6 characters."></paper-input>
            <paper-input id="confirm-password" name="confirm-password" label="Confirm Password" type="password" value="{{confirmPassword}}" required minlength="6" on-change="hardValidateConfirmPassword" on-keyup="softValidateConfirmPassword" error-message="Passwords do not match."></paper-input>
            <!-- <paper-input id="first-name" name="firstName" label="First Name"></paper-input>
            <paper-input id="last-name" name="lastName" label="Last Name"></paper-input>
            <paper-input id="institution" name="Intitution" label="Institution (school)"></paper-input> -->
              <div>By clicking the Signup button below, I agree to the <a href="https://github.com/Prendus/content/blob/master/terms-of-use.md" target="_blank">Terms of Use</a> and the <a href="https://github.com/Prendus/content/blob/master/privacy-policy.md" target="_blank">Privacy Policy</a></div>
          </form>
          <div class="card-actions">
            <button class="prendus-button prendus-button--recommended" disabled$="[[!enableSignup(userType, email, password, confirmPassword)]]" on-tap="createUser">Submit</button>
          </div>
          </paper-card>
            <template>
                <div>
                    Email: <input id="emailInput" type="text">
                </div>

                <div>
                    Password: <input id="passwordInput" type="password">
                </div>

                <div>
                    Repeat Password: <input id="repeatPasswordInput" type="password">
                </div>

                <div>By clicking the Signup button below, I agree to the <a href="https://github.com/Prendus/content/blob/master/terms-of-use.md" target="_blank">Terms of Use</a> and the <a href="https://github.com/Prendus/content/blob/master/privacy-policy.md" target="_blank">Privacy Policy</a></div>

                <button on-click="signupClick">Signup</button>
            </template>
        </dom-if>

        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>
    </template>

    <script src="prendus-signup.ts"></script>
</dom-module>
