<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../prendus-scaffold/prendus-scaffold-concept.html">
<link rel="import" href="../../node_modules/prendus-question-elements/prendus-edit-question.html">
<link rel="import" href="../../node_modules/prendus-question-elements/prendus-view-question.html">

<dom-module id="prendus-create-assignment-demo">
    <template>
        <style include="prendus-styles">
            * {
                font-size: calc(40px - 1vw);
                font-family: Ubuntu;
            }

            #paperTabs {
                /*width: calc(1000px - 10vw);*/
                /*margin: 0 auto;*/
                /*font-size: calc(50px - 1vw);*/
                --paper-tabs-selection-bar-color: #2a9af2;
                /*--paper-tab-ink: grey;*/
                /*--paper-tab-content: {*/
                    /*font-family: Ubuntu;*/
                    /*padding: 25px;*/
                }
                /*height: auto;*/
            }

            paper-tab {
                color: grey;
            }

            paper-tab.iron-selected {
                border: 1px solid rgba(0, 0, 0, .2500);
                box-shadow: 0px 0px 3px grey;
                color: black;
            }

            .grid-container {
                display: grid;
                grid-template-columns: 40vw 40vw;
                grid-column-gap: 5vw;
            }
        </style>

        <redux-store action="[[action]]" on-statechange="stateChange"></redux-store>

        <div class="grid-container">
            <div style="grid-column-start: 1">
                <paper-tabs id="paperTabs" selected="[[selected]]" scrollable on-selected-changed="selectedChanged">
                    <paper-tab>Instructions</paper-tab>
                    <paper-tab>Multiple Choice</paper-tab>
                    <paper-tab>Multiple Select</paper-tab>
                    <paper-tab>Fill in the Blank</paper-tab>
                    <paper-tab>Variables</paper-tab>
                    <paper-tab>Math Symbols</paper-tab>
                </paper-tabs>

                <iron-pages selected="[[selected]]">
                    <div>
                        <ol>
                            <li>
                                Select a concept for your question:
                                <select>
                                    <option disabled selected></option>
                                    <option>Math</option>
                                    <option>Science</option>
                                    <option>History</option>
                                    <option>Writing</option>
                                </select>
                            </li>

                            <br>

                            <li>
                                Add a helpful resource for your question:
                                <paper-input type="text" label="textbook page 100, https://en.wikipedia.org/wiki/Mathematics, etc"></paper-input>
                            </li>

                            <br>

                            <li>
                                Use the editor to create your question. Use the tabs above for help
                            </li>

                            <br>

                            <li>
                                When you are satisfied with your question, click <button on-click="submitClick">Submit</button>
                            </li>
                        </ol>
                    </div>

                    <div>
                        <ol>
                            <li>
                                Start by asking a question:
                                <paper-input id="multipleChoiceQuestionInput" type="text" on-value-changed="multipleChoiceQuestionInputValueChanged"></paper-input>
                            </li>

                            <li>
                                Add multiple choice options:
                                <br>
                                <br>
                                <ol>
                                    <li>
                                        Position the cursor in the editor
                                    </li>

                                    <br>

                                    <li>
                                        Click the Radio button option in the text editor or
                                        <button on-click="instructionsMultipleChoiceOptionClick">Click Here</button>
                                    </li>
                                </ol>
                            </li>

                            <br>

                            <li>
                                When you are satisfied with your question, click <button on-click="submitClick">Submit</button>
                            </li>

                            <br>

                            <li>
                                View the demo for more help:
                                <br>
                                <br>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/8sa4J9ZNbI4?ecver=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                            </li>
                        </ol>
                    </div>

                    <div>
                        <ol>
                            <li>
                                Start by asking a question:
                                <paper-input id="multipleSelectQuestionInput" type="text" on-value-changed="multipleSelectQuestionInputValueChanged"></paper-input>
                            </li>

                            <li>
                                Add multiple select options:
                                <br>
                                <br>
                                <ol>
                                    <li>
                                        Position the cursor in the editor
                                    </li>

                                    <br>

                                    <li>
                                        Click the Checkbox option in the text editor or
                                        <button on-click="instructionsMultipleSelectOptionClick">Click Here</button>
                                    </li>
                                </ol>
                            </li>

                            <br>

                            <li>
                                When you are satisfied with your question, click <button on-click="submitClick">Submit</button>
                            </li>

                            <br>

                            <li>
                                View the demo for more help:
                                <br>
                                <br>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/H7g7B93RJC8?ecver=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                            </li>
                        </ol>
                    </div>

                    <div>
                        <ol>
                            <li>Type your question into the editor</li>

                            <br>

                            <li>
                                When you need an input:
                                <br>
                                <br>
                                <ol>
                                    <li>
                                        Position the cursor in the editor
                                    </li>

                                    <br>

                                    <li>
                                        Click the Input option in the text editor or
                                        <button on-click="instructionsInputOptionClick">Click Here</button>
                                    </li>
                                </ol>
                            </li>

                            <br>

                            <li>
                                When you are satisfied with your question, click <button on-click="submitClick">Submit</button>
                            </li>

                            <br>

                            <li>
                                View the demo for more help:
                                <br>
                                <br>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/8rLR-JQ-HS8?ecver=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                            </li>
                        </ol>
                    </div>

                    <div>
                        <ol>
                            <li>Type your question into the editor</li>

                            <br>

                            <li>
                                When you need a variable:
                                <br>
                                <br>
                                <ol>
                                    <li>
                                        Position the cursor in the editor
                                    </li>

                                    <br>

                                    <li>
                                        Click the Variable option in the text editor or
                                        <button on-click="instructionsVariableOptionClick">Click Here</button>
                                    </li>
                                </ol>
                            </li>

                            <br>

                            <li>
                                When you are satisfied with your question, click <button on-click="submitClick">Submit</button>
                            </li>

                            <br>

                            <li>
                                View the demo for more help:
                                <br>
                                <br>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/pL_Cigwxcbo?ecver=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                            </li>
                        </ol>
                    </div>

                    <div>
                        <ol>
                            <li>Type your question into the editor</li>

                            <br>

                            <li>
                                When you need a TeX math symbol:
                                <br>
                                <br>
                                <ol>
                                    <li>
                                        Position the cursor in the editor
                                    </li>

                                    <br>

                                    <li>
                                        Click the Math symbols option in the text editor or
                                        <button on-click="instructionsMathSymbolsOptionClick">Click Here</button>
                                    </li>
                                </ol>
                            </li>

                            <br>

                            <li>
                                When you are satisfied with your question, click <button on-click="submitClick">Submit</button>
                            </li>

                            <br>

                            <li>
                                View the demo for more help:
                                <br>
                                <br>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/Y524nTVMrkc?ecver=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                            </li>
                        </ol>
                    </div>
                </iron-pages>
            </div>

            <div style="grid-column-start: 2">
                <prendus-edit-question id="editor" question="[[question]]" no-save></prendus-edit-question>
            </div>
        </div>

        <!-- <iron-pages selected="[[selected]]">
            <div class="grid-container">
                <div style="grid-column-start: 1">
                    <h4>For this assignment you will create an exam level question for you and your class to practice for the upcoming exam.</h4>
                    <h4>Follow these instructions:</h4>

                    <ol>
                        <li>
                            Select a concept for your question:
                            <select>
                                <option disabled selected></option>
                                <option>Math</option>
                                <option>Science</option>
                                <option>History</option>
                                <option>Writing</option>
                            </select>
                        </li>

                        <br>

                        <li>
                            Add a helpful resource for your question: <paper-input type="text" label="textbook page 100, https://en.wikipedia.org/wiki/Mathematics, etc"></paper-input>
                        </li>

                        <br>

                        <li>
                            Use the editor to create your question. Use the tabs above for help
                        </li>

                        <br>

                        <li>
                            When you are satisfied with your question, click <button on-click="submitClick">Submit</button>
                        </li>
                    </ol>
                </div>

                <div style="grid-column-start: 2">
                    <prendus-edit-question question="[[question]]" no-save></prendus-edit-question>
                </div>
            </div>

            <div class="grid-container">
                <div style="grid-column-start: 1">
                    <h3>Tag Concept</h3>

                    <ul>
                        <li>Select or enter a concept</li>
                        <li>A concept is the topic of a question</li>
                    </ul>

                    <select>
                        <option>Derivatives</option>
                        <option>Integrals</option>
                        <option>Series</option>
                    </select>

                    <br>
                    <br>

                    <h3>Add Resource</h3>

                    <ul>
                        <li>Make sure the resource aligns with the selected concept</li>
                        <li>Use any resource pertinent to the class or online - a textbook, YouTube link, Wikipedia article, etc</li>
                        <li>Do not copy material directly from the resource. Anything plagiarized will be removed and your instructor will be notified</li>
                    </ul>

                    <paper-input type="text" label="Resource (e.g., textbook page 100)"></paper-input>
                </div>

                <div style="grid-column-start: 2">
                    <prendus-edit-question question="[[question]]" no-save></prendus-edit-question>
                </div>
            </div>

            <div class="grid-container">
                <div style="grid-column-start: 1">
                    <h3>Ask Question</h3>

                    <ul>
                        <li>This will be used as an exam practice question for the class</li>
                        <li>Create a question that could be on the exam</li>
                        <li>Ask a question or provide a partial sentence</li>
                        <li>The question should present a clear problem. A question like "Which one of these is not true" does not present a clear problem</li>
                    </ul>

                    <div>
                        <paper-input id="questionInput" type="text" label="Type your question" on-value-changed="questionInputChanged"></paper-input>
                    </div>
                </div>

                <div style="grid-column-start: 2">
                    <prendus-edit-question question="[[question]]" no-save></prendus-edit-question>
                </div>
            </div>

            <div class="grid-container">
                <div style="grid-column-start: 1">
                    <h3>Correctly Answer Question</h3>

                    <div>
                        <paper-input id="correctAnswerInput" type="text" label="Type the correct answer" on-value-changed="correctAnswerInputChanged"></paper-input>
                    </div>

                    <br>
                    <br>

                    <h3>Provide a Solution</h3>

                    <paper-input type="text" label="Solution (optional)"></paper-input>
                </div>

                <div style="grid-column-start: 2">
                    <prendus-edit-question question="[[question]]" no-save></prendus-edit-question>
                </div>
            </div>

            <div class="grid-container">
                <div style="grid-column-start: 1">
                    <h3>Incorrectly Answer Question</h3>

                    <ul>
                        <li>Each alternative should seem like a valid answer</li>
                        <li>Each alternative should look the same with its content and length</li>
                        <li>All of the above and none of the above should not be used</li>
                        <li>Hints should help students identify misconceptions</li>
                    </ul>

                    <div style="display: flex">
                        <paper-input style="flex: 1" id="incorrectAnswerInput1" type="text" label="Type an incorrect answer" on-value-changed="incorrectAnswerInput1Changed"></paper-input>
                        <paper-input type="text" label="Type a hint" style="margin-left: 1vw; flex: 1"></paper-input>
                    </div>

                    <div style="display: flex">
                        <paper-input style="flex: 1" id="incorrectAnswerInput2" type="text" label="Type an incorrect answer" on-value-changed="incorrectAnswerInput2Changed"></paper-input>
                        <paper-input type="text" label="Type a hint" style="margin-left: 1vw; flex: 1"></paper-input>
                    </div>

                    <div style="display: flex">
                        <paper-input style="flex: 1" id="incorrectAnswerInput3" type="text" label="Type an incorrect answer" on-value-changed="incorrectAnswerInput3Changed"></paper-input>
                        <paper-input type="text" label="Type a hint" style="margin-left: 1vw; flex: 1"></paper-input>
                    </div>
                </div>

                <div style="grid-column-start: 2">
                    <prendus-edit-question question="[[question]]" no-save></prendus-edit-question>
                </div>
            </div>

            <div class="grid-container">
                <div style="grid-column-start: 1">
                    <h3>Review Question</h3>

                    <ul>
                        <li>Test your question out and see if it works</li>
                        <li>If everything looks good, go ahead and submit</li>
                    </ul>
                </div>

                <div style="grid-column-start: 2">
                    <div style="box-shadow: 0px 0px 3px grey; padding: calc(40px - 1vw);">
                        <prendus-view-question question="[[question]]"></prendus-view-question>
                    </div>
                </div>
            </div>
        </iron-pages> -->

        <!-- <dom-if if="[[showPrevButton(selected)]]">
            <template>
                <button class="prendus-button prendus-button--recommended" on-click="prevClick">Prev</button>
            </template>
        </dom-if>

        <dom-if if="[[showNextButton(selected)]]">
            <template>
                <button class="prendus-button prendus-button--recommended" on-click="nextClick">Next</button>
            </template>
        </dom-if>

        <dom-if if="[[showSubmitButton(selected)]]">
            <template>
                <button class="prendus-button prendus-button--recommended" on-click="submitClick">Submit</button>
            </template>
        </dom-if> -->

    </template>

    <script type="module" src="prendus-create-assignment-demo.ts"></script>
</dom-module>
