<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="prendus-unauthorized-modal">
  <template>
    <style include="prendus-styles">
      #modal {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .modal-item {
        margin-top: 30px;
      }
    </style>
    <paper-dialog id="modal" modal>
        <div class="content">
          <h1>Unauthorized to Access this page</h1>
          <p class="modal-item">If you are using this in a course, launch from your Learning Management System to properly access the course.</p>
          <p class="modal-item">If you are unsure of how to access the content through your LMS, contact your intructor to get added to the course</p>
          <p class="modal-item">For customer assistance, please contact Prendus help at benjaminprendus@gmail.com
        <div>
        <div id="continueButton" class="buttons">
          <button class="prendus-button prendus-button--recommended" on-click="_toHome">Go To Homepage</button>
        </div>
    </paper-dialog>
  </template>

  <script type="module" src="prendus-unauthorized-modal.ts"></script>
</dom-module>
