<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">
<link rel="import" href="../prendus-rubric-dropdowns/prendus-rubric-dropdowns.html">
<link rel="import" href="../prendus-assignment/prendus-unauthorized-modal.html">
<link rel="import" href="../prendus-carousel/prendus-carousel.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="prendus-grade-assignment">

  <template>

    <style include="prendus-styles">
      .question-picture {
        max-height: 200px;
        max-width: 200px;
      }
    </style>
    <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>

    <prendus-unauthorized-modal assignment-id="[[assignmentId]]" on-authorized="_loadAssignment"></prendus-unauthorized-modal>

    <div hidden$="[[!loaded]]">
      <h2>[[assignment.title]] Grade Assignment</h2>
      <br>
      <prendus-carousel
        id="carousel"
        hide-back
        next-text="Submit"
        label="Response"
        items="[[responses]]"
        on-next="_handleNextRequest"
        on-item-changed="_handleNextResponse"
        on-finished="_handleFinished"
      >
        <div hidden$="[[finished]]">
          <h4>Question</h4>
          <p>[[_questionText(response.questionResponse.question.text)]]</p>
          <p><img class="question-picture" src$="[[_questionPicture(response.questionResponse.question.text)]]"></p>
          <h4>Response</h4>
          <p>[[response.value]]</p>
          <prendus-rubric-dropdowns id="dropdowns" rubric="[[rubric]]" on-scores-changed="_handleGrades"></prendus-rubric-dropdowns>
        </div>
        <div hidden$="[[!finished]]">
          <h3>Done</h3>
          <p>[[completionReason]]</p>
        </div>
      </prendus-carousel>
    </div>

    <div hidden$="[[!loaded]]">
      Loading...
    </div>

  </template>

  <script type="module" src="prendus-grade-assignment.ts"></script>

</dom-module>
