<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../node_modules/prendus-question-elements/prendus-view-question.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">
<link rel="import" href="../prendus-rubric-table/prendus-rubric-table.html">
<link rel="import" href="../prendus-rubric-dropdowns/prendus-rubric-dropdowns.html">
<link rel="import" href="../prendus-carousel/prendus-carousel.html">
<link rel="import" href="../prendus-assignment/prendus-unauthorized-modal.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="prendus-review-assignment">

  <template>

    <style include="prendus-styles"></style>
    <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>

    <h2>[[assignment.title]] Review Assignment</h2>

    <dom-if if="[[!loaded]]">
      <template>
        Loading...
      </template>
    </dom-if>

    <prendus-unauthorized-modal assignment-id="[[assignmentId]]" on-authorized="_loadAssignment"></prendus-unauthorized-modal>

    <div hidden$="[[!loaded]]">
      <prendus-carousel id="carousel" hide-back next-text="Submit" data="[[questions]]" on-carousel-next="_handleNextRequest" on-carousel-data="_handleNextQuestion">
        <dom-if if="[[question]]">
          <template>
            <div>
              <h3>Concept</h3>
              <div class="prendus-card">[[question.concept.title]]</div>
              <h3>Resource</h3>
              <div class="prendus-card">[[question.resource]]</div>
              <br>
              <h3>Question as seen in quiz</h3>
              <br>
              <prendus-view-question question="[[question]]"></prendus-view-question>
              <br>
              <div hidden$="[[!essayType]]">
                <h3>Grading Rubric</h3>
                <prendus-rubric-table rubric="[[gradingRubric]]"></prendus-rubric-table>
              </div>
              <br>
              <prendus-rubric-dropdowns id="dropdowns" rubric="[[evaluationRubric]]" on-scores-changed="_handleRatings"></prendus-rubric-dropdowns>
            </div>
          </template>
        </dom-if>
        <dom-if if="[[!question]]">
          <template>
            <div>
              <h4>Done</h4>
              <p>[[completionReason]]</p>
            </div>
          </template>
        </dom-if>
      </prendus-carousel>
    </div>

  </template>

  <script type="module" src="prendus-review-assignment.ts"></script>

</dom-module>
