<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-quiz/prendus-quiz.html">

<dom-module id="prendus-assignment-quiz">
    <template>
        <redux-store id="reduxStoreElement" action="[[action]]" on-statechange="stateChange"></redux-store>
        <style>
        </style>
        <dom-if if="[[loaded]]">
            <template>
              <prendus-quiz quiz-id="[[quizId]]" on-submit="submitQuiz"></prendus-quiz>
            </template>
        </dom-if>
        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>
    </template>

    <script type="module" src="prendus-assignment-quiz.ts"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-105026787-1', 'auto');
      ga('send', 'pageview');

    </script>
</dom-module>
