<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../prendus-scaffold/prendus-scaffold-concept.html">
<link rel="import" href="../../node_modules/prendus-question-elements/prendus-edit-question.html">
<link rel="import" href="../../node_modules/prendus-question-elements/prendus-view-question.html">

<dom-module id="prendus-create-assignment-demo">
    <template>
        <style>
            * {
                font-size: calc(40px - 1vw);
                font-family: Ubuntu;
            }

            #paperTabs {
                /*width: calc(1000px - 10vw);*/
                /*margin: 0 auto;*/
                /*font-size: calc(50px - 1vw);*/
                --paper-tabs-selection-bar-color: #2a9af2;
                /*--paper-tab-ink: grey;*/
                /*--paper-tab-content: {*/
                    /*font-family: Ubuntu;*/
                    /*padding: 25px;*/
                }
                /*height: auto;*/
            }

            paper-tab {
                color: grey;
            }

            paper-tab.iron-selected {
                border: 1px solid rgba(0, 0, 0, .2500);
                box-shadow: 0px 0px 3px grey;
                color: black;
            }
        </style>

        <redux-store action="[[action]]" on-statechange="stateChange"></redux-store>

        <paper-tabs id="paperTabs" selected="[[selected]]" scrollable on-selected-changed="selectedChanged">
            <paper-tab>Step 0</paper-tab>
            <paper-tab>Step 1</paper-tab>
            <paper-tab>Step 2</paper-tab>
            <paper-tab>Step 3</paper-tab>
            <paper-tab>Step 4</paper-tab>
            <paper-tab>Step 5</paper-tab>
        </paper-tabs>

        <iron-pages selected="[[selected]]">
            <div>
                <h1>Instructions</h1>

                <p>
                    For this assignment you will create an exam level question for you and your class to practice for the upcoming exam.
                </p>

                <p>
                    We will guide you through the question creation process.
                </p>
            </div>

            <div>
                <h1>Tag Concept</h1>

                <ul>
                    <li>Select or enter a concept</li>
                    <li>A concept is the topic of a question</li>
                </ul>

                <select>
                    <option>Derivatives</option>
                    <option>Integrals</option>
                    <option>Series</option>
                </select>

                <h1>Add Resource</h1>

                <ul>
                    <li>Make sure the resource aligns with the selected concept</li>
                    <li>Use any resource pertinent to the class or online - a textbook, YouTube link, Wikipedia article, etc</li>
                    <li>Do not copy material directly from the resource. Anything plagiarized will be removed and your instructor will be notified</li>
                </ul>
                <input type="text">
            </div>

            <div>
                <h1>Ask Question</h1>

                <ul>
                    <li>This will be used as an exam practice question for the class</li>
                    <li>Create a question that could be on the exam</li>
                    <li>Ask a question or provide a partial sentence</li>
                    <li>The question should present a clear problem. A question like "Which one of these is not true" does not present a clear problem</li>
                </ul>

                <div>
                    Question: <input type="text">
                </div>

                <prendus-edit-question></prendus-edit-question>
            </div>

            <div>
                <h1>Correctly Answer Question</h1>

                <div>
                    Correct answer: <input type="text">
                </div>

                <prendus-edit-question></prendus-edit-question>
            </div>

            <div>
                <h1>Incorrectly Answer Question</h1>

                <ul>
                    <li>Each alternative should seem like a valid answer</li>
                    <li>Each alternative should look the same with its content and length</li>
                    <li>All of the above and none of the above should not be used</li>
                    <li>Hints should help students identify misconceptions</li>
                </ul>

                <div>
                    Incorrect answer: <input type="text"> hint: <input type="text">
                </div>

                <div>
                    Incorrect answer: <input type="text"> hint: <input type="text">
                </div>

                <div>
                    Incorrect answer: <input type="text"> hint: <input type="text">
                </div>

                <prendus-edit-question></prendus-edit-question>
            </div>

            <div>
                <h1>Review Question</h1>

                <ul>
                    <li>Test your question out and see if it works</li>
                    <li>If everything looks good, go ahead and submit</li>
                </ul>

                <prendus-view-question></prendus-view-question>
            </div>
        </iron-pages>

    </template>

    <script src="prendus-create-assignment-demo.ts"></script>
</dom-module>
