<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../node_modules/prendus-question-elements/prendus-view-question.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">
<link rel="import" href="../prendus-rubric-dropdowns/prendus-rubric-dropdowns.html">
<link rel="import" href="prendus-assignment-analytics.html">

<dom-module id="prendus-grade-assignment">

  <template>

    <style include="prendus-styles"></style>
    <redux-store id="store" action="[[action]]" on-statechange="stateChange"></redux-store>

    <prendus-assignment-analytics
      label="Response"
      assignment-id="[[assignmentId]]"
      assignment="[[assignment]]"
      verb="GRADED"
      on-item-changed="_response"
    >
      <div slot="assignment">
        <h4>Question as seen in quiz</h4>
        <div class="question">
          <prendus-view-question question="[[response.questionResponse.question]]"></prendus-view-question>
        </div>
        <h4>Response</h4>
        <p>[[response.value]]</p>
        <prendus-rubric-dropdowns id="dropdowns" rubric="[[rubric]]" on-scores-changed="_grades"></prendus-rubric-dropdowns>
      </div>
    </prendus-assignment-analytics>

  </template>

  <script type="module" src="prendus-grade-assignment.ts"></script>

</dom-module>
