<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">
<link rel="import" href="../prendus-scaffold/prendus-essay-scaffold.html">
<link rel="import" href="../prendus-scaffold/prendus-multiple-choice-scaffold.html">
<link rel="import" href="prendus-assignment-shared.html">

<dom-module id="prendus-create-assignment">

  <template>

    <style include="prendus-styles"></style>
    <redux-store id="store" action="[[action]]" on-statechange="stateChange"></redux-store>

    <prendus-assignment-shared
      id="shared"
      assignment-id="[[assignmentId]]"
      functions="[[functions]]"
      verb="CREATED"
      hide-back
      hide-next
      on-item-changed="_question"
    >
      <div slot="assignment">
        <div hidden$="[[isMultipleChoiceType(assignment.questionType)]]">
          <prendus-essay-scaffold question="[[question]]" assignment="[[assignment]]" on-question-created="_handleQuestion"></prendus-essay-scaffold>
        </div>
        <div hidden$="[[isEssayType(assignment.questionType)]]">
          <prendus-multiple-choice-scaffold question="[[question]]" assignment="[[assignment]]" on-question-created="_handleQuestion"></prendus-multiple-choice-scaffold>
        </div>
      </div>
    </prendus-assignment-shared>
  </template>

  <script type="module" src="prendus-create-assignment.ts"></script>

</dom-module>
