<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<!-- The neon-animation import is a polyfill, even for Chrome. It's necessary to support paper-dropdown-menu. Remove it when possible -->
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-assignment">
    <template>
        <redux-store id="reduxStoreElement" on-statechange="stateChange" action="[[action]]"></redux-store>
        <style include="prendus-styles">
        .prendus-button{
          margin-bottom: 15px;
        }
        .prendus-button--recommended{
            margin-top: 15px;
        }
        .prendus-list-item{
          height: 30px;
        }
        paper-dialog paper-dialog-scrollable {
          --paper-dialog-scrollable: {
            margin-bottom: 25px;
            box-sizing: border-box;
            width: 100%;
            min-width: 360px;
            height: 80%;
          }
        }
        #assignment-title {
          --paper-input-container-input: {
            font-size: 3em;
          };
          width: 50%;
        }
        #dialogTitle{
          margin-top: 10px;
        }
        #conceptsDialog{
          display: flex;
        }
        #courseContainer{
          flex-basis: auto;
          margin: 5px;
          padding: 10px;
          border: 1px;
          min-width: 25%;
        }
        #custom-concept{
          margin-right: 10px;
        }
        #courseConceptsContainer{
          padding-top: 10px;
          border-right: solid;
          border-color: var(--prendus-primary-color)
        }
        #assignmentConceptsContainer{
          padding-left: 10px;
          padding-top: 10px;
        }
        #unauthorizedAccessModal{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        #continueButton{
          justify-content: flex-end;
        }
        .unauthorizedAccessModalListItem{
          margin-top: 30px;
        }
        .setting-input{
          width: 250px;
        }
        </style>
        <dom-if if="[[loaded]]">
            <template>
                  <!-- <h1>Edit Assignment</h1> -->
                  <a href="course/[[courseId]]/edit" class="prendus-button">Return to Course</a>
                  <paper-input id="assignment-title" label="Assignment Title" value="[[assignment.title]]" maxlength="50" required auto-validate error-message="Please enter a title." on-focusout="saveData"></paper-input>
                  <br>
                  <div class="grid">
                    <div class="grid-cell">
                      <h2>Concepts</h2>
                      <dom-repeat items="[[assignment.concepts]]">
                        <template>
                            <h4>[[item.title]]</h4>
                        </template>
                      </dom-repeat>
                      <button class="prendus-button prendus-button--recommended" on-click="openAssignmentConceptDialog">Add or Remove Concepts</button>
                    </div>
                    <div class="grid-cell">
                      <h2>Options</h2>
                      <paper-dropdown-menu class="setting-input" id="questionTypes" label="Question Type" on-selected-item-changed="saveData">
                        <paper-listbox slot="dropdown-content" attr-for-selected="id" selected="[[assignment.questionType]]">
                          <dom-repeat items="[[_questionTypes()]]">
                            <template>
                              <paper-item id="[[item.id]]">[[item.value]]</paper-item>
                            </template>
                          </dom-repeat>
                        </paper-listbox>
                      </paper-dropdown-menu>
                      <paper-input id="create" class="setting-input" type="number" min="1" label="Number of questions for students to create" value="[[assignment.numCreateQuestions]]" on-change="saveData"></paper-input>
                      <paper-input id="review" class="setting-input" type="number" min="1" label="Number of questions for students to evaluate" value="[[assignment.numReviewQuestions]]" on-change="saveData"></paper-input>
                      <paper-input id="take" class="setting-input" type="number" min="1" label="Number of questions for students to answer" value="[[assignment.numResponseQuestions]]" on-change="saveData"></paper-input>
                      <paper-input id="grade" class="setting-input" type="number" min="1" label="Number of questions for students to grade" value="[[assignment.numGradeResponses]]" on-change="saveData" hidden$="[[!isEssayType(assignment.questionType)]]"></paper-input>
                    </div>
                  </div>
                  <paper-dialog id="assignmentConceptDialog" modal>
                    <paper-dialog-scrollable>
                      <div id="conceptsDialog">
                        <div id="courseConceptsContainer" class="courseContainer">
                          <h2>Concepts</h2>
                          <paper-listbox id="courseConcepts" slot="dropdown-content">
                            <dom-repeat items="[[concepts]]">
                              <template>
                                  <paper-item id="[[item.id]]" class="course-concepts" on-click="addConceptToAssignmentConcepts">[[item.title]]</paper-item>
                              </template>
                            </dom-repeat>
                          </paper-listbox>
                          <paper-input id="custom-concept" label="Add Custom Concept" maxlength=30></paper-input><span class="prendus-button" on-click="createConcept">Save Concept and Add to Assignment</span>
                        </div>
                        <div id="assignmentConceptsContainer" class="courseContainer">
                          <h2>Assignment Concepts</h2>
                          <paper-listbox id="assignmentConcepts" slot="dropdown-content">
                            <dom-repeat items="[[selectedConcepts]]">
                              <template>
                                  <paper-item id="[[item.id]]" class="assignment-concepts">[[item.title]]<iron-icon class="prendus-icon-button" icon="delete" on-click="removeAssignmentConcept"></iron-icon></paper-item>
                              </template>
                            </dom-repeat>
                          </paper-listbox>
                        </div>
                      </div>
                    </paper-dialog-scrollable>
                    <div class="buttons">
                      <button class="prendus-button prendus-button--minor" dialog-dismiss on-click="closeAssignmentConceptDialog">Cancel</button>
                      <button id="save-concept" class="prendus-button prendus-button--recommended" on-click="updateAssignmentConcepts">Save</button>
                    </div>
                  </paper-dialog>
                  <paper-dialog id="unauthorizedAccessModal" modal>
                    <div class="content">
                      <h1>Unauthorized to Access this page</h1>
                      <p class="unauthorizedAccessModalListItem">If you are using this in a course, launch from your Learning Management System to properly access the course.</p>
                      <p class="unauthorizedAccessModalListItem">If you are unsure of how to access the content through your LMS, contact your intructor to get added to the course</p>
                      <p class="unauthorizedAccessModalListItem">For customer assistance, please contact Prendus at benjaminprendus@gmail.com
                    <div>
                    <div id="continueButton" class="buttons">
                      <button class="prendus-button prendus-button--recommended" on-click="continueToHome">Go To Homepage</button>
                    </div>
                  </paper-dialog>
                </dom-if>
            </template>
        </dom-if>
        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>
    </template>

    <script type="module" src="prendus-assignment.ts"></script>
</dom-module>
