<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../prendus-scaffold/prendus-scaffold.html">
<link rel="import" href="../prendus-question-review/prendus-question-review.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">

<dom-module id="prendus-assignment">
    <template>
        <redux-store id="reduxStoreElement" on-statechange="stateChange" action="[[action]]"></redux-store>
        <style include="prendus-styles">
        .prendus-button{
          margin-bottom: 15px;
        }
        .prendus-button--recommended{
            margin-top: 15px;
        }
        .prendus-list-item{
          height: 30px;

        }
        </style>
        <dom-if if="[[loaded]]">
            <template>
                <dom-if if="[[isViewMode(mode)]]">
                    <template>
                        <dom-if if="[[isCreateType(assignmentType)]]">
                            <template>
                                <!--TODO just pass in an assignment object to prendus-scaffold, then we can get rid of the concepts property-->
                                <prendus-scaffold assignment-id="[[assignmentId]]" concepts="[[assignment.concepts]]"></prendus-scaffold>
                            </template>
                        </dom-if>

                        <dom-if if="[[isReviewType(assignmentType)]]">
                            <template>
                                <prendus-question-review assignment-id="[[assignmentId]]"></prendus-question-review>
                            </template>
                        </dom-if>
                    </template>
                </dom-if>

                <dom-if if="[[!isViewMode(mode)]]">
                  <template>
                    <button class="prendus-button" on-click="saveAssignment">Save and Return to Course</button>
                    <paper-input id="titleInput" class="edit-input" name="title" label="Assignment Title" value="[[assignment.title]]" maxlength="50" required auto-validate error-message="Please enter a title."></paper-input>
                      <!-- <input id="titleInput" type="text" value="[[assignment.title]]"> -->
                    <h2>Course Concepts</h2>
                    <dom-repeat items="[[assignment.concepts]]">
                      <template>
                          <h4>[[item.title]]</h4>
                      </template>
                    </dom-repeat>
                    <button class="prendus-button prendus-button--recommended" on-click="openAssignmentConceptDialog">Add Concept</button>
                  </template>
                  <paper-dialog id="assignmentConceptDialog" modal>
                    <div class="content">
                      <h2>Disciplines</h2>
                      <div role="listbox">
                        <dom-repeat items="[[learningStructure]]">
                          <template>
                              <paper-item id="[[index]]" data-number="[[index]]" on-click="showSubjects">[[item.title]]</paper-item>
                          </template>
                        </dom-repeat>
                      </div>
                      <h2>Subjects</h2>
                      <div id ="subjects">
                        <div role="listbox">
                          <dom-repeat items="[[subjects]]">
                            <template>
                                <paper-item id="[[index]]" data-number="[[index]]" on-click="showConcepts">[[item.title]]</paper-item>
                            </template>
                          </dom-repeat>
                        </div>
                      </div>
                      <h2>Concepts</h2>
                      <div id ="concepts">
                        <dom-repeat items="[[concepts]]">
                          <template>
                              <h4 id="[[index]]" on-click="saveConcept">[[item.title]]</h4>
                          </template>
                        </dom-repeat>
                      </div>
                    </div>
                    <div class="buttons">
                      <button class="prendus-button prendus-button--minor" dialog-dismiss on-click="closeAssignmentConceptDialog">Cancel</button>
                      <!-- <button class="prendus-button prendus-button--recommended" dialog-dismiss>Save</button> -->
                    </div>
                  </paper-dialog>
                </dom-if>
            </template>
        </dom-if>
        <dom-if if="[[!loaded]]">
            <template>
                Loading...
            </template>
        </dom-if>

    </template>

    <script src="prendus-assignment.ts"></script>
</dom-module>
