<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/prendus-question-elements/prendus-edit-question.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../prendus-scaffold/prendus-scaffold-concept.html">

<dom-module id="prendus-create-assignment-editor">
    <template>
        <style include="prendus-styles">
        </style>

        <redux-store action="[[action]]" on-statechange="stateChange"></redux-store>

        <prendus-scaffold-concept selected-concept="[[concept]]" assignment="[[assignment]]" on-concept-selected="handleConcept"></prendus-scaffold-concept>

        <paper-input id="resource" type="text" label="Resource (e.g., textbook page 100)" value="[[resource]]" on-value-changed="handleResource"></paper-input>

        <paper-dropdown-menu id="licenseDropdown" label="License">
            <paper-listbox slot="dropdown-content" selected="0">
                <dom-repeat items="[[licenses]]">
                    <template>
                        <paper-item style="cursor: pointer" on-click="licenseSelected">[[item.commonName]]</paper-item>
                    </template>
                </dom-repeat>
            </paper-listbox>
        </paper-dropdown-menu>

        <dom-repeat items=[[licenses]]>
            <template>
                <iron-icon id="licenseInfoIcon[[item.type]]" icon="info" on-click="licenseInfoIconClick" style="cursor: pointer;" hidden="[[getLicenseInfoIconHidden(selectedLicenseId, item)]]"></iron-icon>
            </template>
        </dom-repeat>

        <dom-repeat items=[[licenses]]>
            <template>
                <paper-dialog id="licenseInfoDialog[[item.type]]" style="padding-left: 1vw; padding-right: 1vw; padding-top: 25px">
                    <h2>[[item.commonName]]</h2>

                    <br>

                    <p><a href="[[item.hyperlink]]" target="_blank">Read the official license information</a></p>
                    <p>[[item.description]]</p>

                    <div style="display: flex">
                        <paper-button style="margin-left: auto" raised on-click="licenseInfoDialogCloseClick">Close</paper-button>
                    </div>
                </paper-dialog>
            </template>
        </dom-repeat>

        <br>

        <paper-dropdown-menu id="visibilityDropdown" label="Visibility">
            <paper-listbox slot="dropdown-content" selected="0">
                <dom-repeat items="[[visibilities]]">
                    <template>
                        <paper-item style="cursor: pointer" on-click="visibilitySelected">[[item.commonName]]</paper-item>
                    </template>
                </dom-repeat>
            </paper-listbox>
        </paper-dropdown-menu>

        <dom-repeat items=[[visibilities]]>
            <template>
                <iron-icon id="visibilityInfoIcon[[item.type]]" icon="info" on-click="visibilityInfoIconClick" style="cursor: pointer;" hidden="[[getVisibilityInfoIconHidden(selectedVisibilityId, item)]]"></iron-icon>
            </template>
        </dom-repeat>

        <dom-repeat items=[[visibilities]]>
            <template>
                <paper-dialog id="visibilityInfoDialog[[item.type]]" style="padding-left: 1vw; padding-right: 1vw; padding-top: 25px">
                    <h2>[[item.commonName]]</h2>

                    <br>

                    <p>[[item.description]]</p>

                    <div style="display: flex">
                        <paper-button style="margin-left: auto" raised on-click="visibilityInfoDialogCloseClick">Close</paper-button>
                    </div>
                </paper-dialog>
            </template>
        </dom-repeat>

        <br>
        <br>

        <div style="margin-bottom: 5vh">
            <prendus-edit-question
                id="question-editor"
                question="[[_question]]"
                multiple-choice-tool
                multiple-select-tool
                fill-in-the-blank-tool
                image-tool
            ></prendus-edit-question>
            <div style="display: flex; margin-top: 1vh">
                <button class="prendus-button prendus-button--recommended" style="margin-left: auto" on-click="submitClick">Submit</button>
            </div>
        </div>
    </template>

    <script type="module" src="prendus-create-assignment-editor.ts"></script>
</dom-module>
