<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/redux-store-element/redux-store.html">
<link rel="import" href="../../node_modules/prendus-question-elements/prendus-view-question.html">
<link rel="import" href="../prendus-ui/prendus-styles.html">
<link rel="import" href="../prendus-rubric-table/prendus-rubric-table.html">
<link rel="import" href="../prendus-rubric-dropdowns/prendus-rubric-dropdowns.html">
<link rel="import" href="prendus-assignment-analytics.html">

<dom-module id="prendus-review-assignment">

  <template>

    <style include="prendus-styles"></style>
    <redux-store id="store" action="[[action]]" on-statechange="stateChange"></redux-store>

    <prendus-assignment-analytics
      assignment-id="[[assignmentId]]"
      load="[[load]]"
      error="[[error]]"
      submit="[[submit]]"
      verb="REVIEWED"
      on-item-changed="_question"
    >
      <div slot="assignment">
        <h3>Concept</h3>
        <div class="prendus-card">[[question.concept.title]]</div>
        <h3>Resource</h3>
        <div class="prendus-card">[[question.resource]]</div>
        <br>
        <h3>Question as seen in quiz</h3>
        <br>
        <prendus-view-question question="[[question]]"></prendus-view-question>
        <br>
        <div hidden$="[[!essayType]]">
          <h3>Grading Rubric</h3>
          <prendus-rubric-table init="[[gradingRubric]]"></prendus-rubric-table>
        </div>
        <br>
        <prendus-rubric-dropdowns id="dropdowns" rubric="[[evaluationRubric]]" on-scores-changed="_ratings"></prendus-rubric-dropdowns>
      </div>
    </prendus-assignment-analytics>
  </template>

  <script type="module" src="prendus-review-assignment.ts"></script>

</dom-module>
