<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../node_modules/prendus-question-elements/prendus-edit-question.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="prendus-create-assignment-demo">
    <template>
        <style include="prendus-styles">
        </style>

        <br>

        Select a concept for your question:
        <select>
            <option disabled selected></option>
            <option>Math</option>
            <option>Science</option>
            <option>History</option>
            <option>Writing</option>
        </select>

        <br>
        <br>

        <div style="margin-bottom: 5vh">
            <prendus-edit-question></prendus-edit-question>
            <div style="display: flex; margin-top: 1vh">
                <button class="prendus-button prendus-button--recommended" style="margin-left: auto" on-click="submitClick">Submit</button>
            </div>
        </div>
    </template>

    <script type="module" src="prendus-create-assignment-demo.ts"></script>
</dom-module>
